
### Python Programming
##### by Narendra Allam
Copyright 2019

# Chapter 19

## Pandas

#### Topics Covering
* Pandas
    * Series<br>
        * Constructing from dictionaries<br>
        * Custom Index<br>
        * Data filtering<br>
    * Data Frames<br>
        * Constructing from a dictionary with values as lists<br>
        * Custom indexing<br>
        * Rearranging the columns<br>
        * Setting values<br>
        * Sum<br>
        * Cummulative sum<br>
        * Assigning a column to the dataframe<br>
        * Adding a new column<br>
        * Deleting a column<br>
        * Slicing<br>
        * Indexing and Advanced Indexing<br>
        * Sorting<br>
        * Transposing<br>
        * Sort by<br>
        * Concatenate<br>
        * Merge<br>
        * Join<br>
        * Group By<br>
        * Data Munging<br>
            * Working Missing data<br>
        * Reading Data from CSV, Excel, JSON<br>
        * Writing Data to CSV, Excel, JSON<br>

#### Command to install pandas

pip install pandas (or) sudo apt-get install python-pandas

#### Introduction to pandas Data Structures

The heart of pandas is just the two primary data structures on which all transactions, which are generally made during the analysis of data, are centralized:
- Series
- DataFrame

### Series
A Series is a one-dimensional array-like object containing an array of data, which can be any NumPy data type, and an associated array of data labels, functioning as its index.

The structure of the Series object will be 

<img src='pandasSeries.jpg' width='150'>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
S = pd.Series([36, 32, 45, 30, 25, 40, 42], dtype=float)
print (S)

In [ ]:
S.index

In [ ]:
S.values

In [ ]:
S / 2

In [ ]:
np.log(S)

In [ ]:
S[4]

In [ ]:
# custom indices
S = pd.Series([36, 32, 45, 30, 25, 40, 42], index=['Sunday', 'Monday',
                                                   'Tuesday', 'Wednessday',
                                                   'Thursday', 'Friday',
                                                   'Saturday'])
print (S)

In [ ]:
S['Friday']

In [ ]:
# custom indices
S = pd.Series([36, 32, 45, 30, 25, 40, 42], index=range(1, 8))
print (S)

In [ ]:
# checking data availability for indices
expected_dates = [1, 3, 4, 6, 8, 9, 10]
s1 = pd.Series(S, index=expected_dates)
s1

<b>Note:-</b> NaN means Not a Number

In [ ]:
None == None

In [ ]:
import numpy as np
np.nan == np.nan

In [ ]:
print ('MAX=', s1.max())
print ('MIN=', s1.min())
print ('AVG=', s1.mean())
print ('STD=', s1.std())

In [ ]:
# describe( ) function  allows us to obtain a summary statistics at once.
s1.describe()

The <b>isnull( ) and notnull( ) </b>functions are very useful to identify the indexes without a value.

In [ ]:
s1.isnull()

In [ ]:
s1.notnull()

__Note:- np.isnan()__ should be used when comparing with individual values in a series.

In [ ]:
s1

<b>Note:-</b> NaN means Not a Number

In [ ]:
# considering 0s inplace of NaN
s1[s1.isnull()] = 0

In [ ]:
s1

<b>isin( ) </b>is a function that evaluates the membership, that is, given a list of values, this function lets you know if these values are contained within the data structure. Boolean values that are returned can be very useful during the filtering of data within a series

In [ ]:
s1.isin([30,45])

To know all the values contained within the Series excluding duplicates, you can use the <b> unique( ) function</b>. The return value is an array containing the unique values in the Series, though not necessarily in order.

In [ ]:
s1.unique()

A function similar to unique( ) is the <b> value_counts( ) function</b>, which not only returns the unique values but calculates occurrences within a Series.

In [ ]:
s1.value_counts()

In [ ]:
s1.describe()

In [ ]:
# Custom Index
fruits = ['apples', 'oranges', 'cherries', 'pears', 'Mango']
quantities = [20, 33, 52, 10, 40]
S = pd.Series(quantities, index=fruits)
S

In [ ]:
S['Mango']

In [ ]:
# Scalar arithmatic
print((S + 3) * 4)
print("======================")

In [ ]:
S

In [ ]:
np.sin(S)

In [ ]:
# filtering fruits with quantity more than 30
S[S > 30]

In [ ]:
# Replacing the quantities greater than 30 with custom list of values
S[S > 30] = [99, 88, 77]
S

In [ ]:
# dictionary
cities = {"London":   8615246,
          "Berlin":   3562166, 
          "Madrid":   3165235, 
          "Rome":     2874038, 
          "Paris":    2273305, 
          "Vienna":   1805681, 
          "Bucharest":1803425, 
          "Hamburg":  1760433,
          "Budapest": 1754000,
          "Warsaw":   1740119,
          "Barcelona":1602386,
          "Munich":   1493900,
          "Milan":    1350680}

city_series = pd.Series(cities, dtype='uint32')
print(city_series)

__All the cities with population greater than the average ?__

In [ ]:
np.average(city_series)

In [ ]:
city_series[city_series > np.average(city_series)]

<b> All the cities with population < 1700000 and > 1300000? </b>

In [ ]:
city_series[(city_series < 1700000) & (city_series > 1300000)]

In [ ]:
# Population data available?
my_cities = ["London", "Paris", "Zurich", "Berlin", 
             "Stuttgart", "Hamburg"]

my_city_series = pd.Series(city_series, index=my_cities)
print (my_city_series)

In [ ]:
my_city_series.isnull()

In [ ]:
my_city_series[my_city_series.isnull()] = 1000000

In [ ]:
my_city_series

In [ ]:
my_city_series.unique()

#### Changing the datatype

In [ ]:
city_series = pd.Series(my_city_series, dtype='uint64')
print(city_series)

In [ ]:
city_series.index.str.startswith('S')

In [ ]:
city_series[city_series.index.str.startswith('s')] = 999999

In [ ]:
city_series

In [ ]:
# converting dtype of exisiting series
s = pd.Series(my_city_series, dtype='uint32')
s

#### np.nan is not zero

In [ ]:
s1 = pd.Series([1, np.nan, 2])
s2 = pd.Series([1, 0, 2])

In [ ]:
s1.describe()

In [ ]:
s2.describe()

#### Correlation and Covariance                          
Two important statistical calculations are correlation and covariance, expressed in pandas by the corr() and cov() functions. These kind of calculations normally involve two series.

In [ ]:
seq = pd.Series([1,2,3,4,4,3,2,1],['2006','2007','2008','2009','2010','2011','2012','2013'])
seq.corr(seq)

In [ ]:
seq.cov(seq)

In [ ]:
seq2 = pd.Series([3,4,3,4,5,4,3,2],['2006','2007','2008','2009','2010','2011','2012','2013'])

seq.corr(seq2)

In [ ]:
seq.cov(seq2)

#### Hierarchical Indexing and Leveling                                        
Hierarchical indexing is a very important feature of pandas, as it allows you to have multiple levels of indexes on a single axis. It gives you a way to work with data in multiple dimensions while continuing to work in a two-dimensional structure.

In [ ]:
mser = pd.Series(np.random.rand(8),index=[['white','white',
                                           'white','blue',
                                           'blue','red',
                                           'red','red'], 
                                          ['up','down',
                                           'right','up',
                                           'down','up',
                                           'down','left']])

mser

In [ ]:
mser.index

 You can select the values for a given value of the first index, and you do it in the classic way:

In [ ]:
mser['white']

In [ ]:
mser[:,'up']

In [ ]:
mser['white','up']

Hierarchical indexing plays a critical role in reshaping data and group-based operations such as a pivot-table. For example, the data could be rearranged and used in a dataframe with a special function called <b>unstack()</b>. This function converts the series with a hierarchical index to a simple dataframe, where the second set of indexes is converted into a new set of columns

In [ ]:
mser.unstack()

### Working with Time Series

Pandas was developed in the context of financial modeling, so as you might expect, it contains a fairly extensive set of tools for working with dates, times, and time-indexed data. 

- <b>Time stamps</b> reference particular moments in time (e.g., July 4th, 2015 at 7:00am).
- <b>Time intervals and periods</b> reference a length of time between a particular beginning and end point; for example, the year 2015. Periods usually reference a special case of time intervals in which each interval is of uniform length and does not overlap (e.g., 24 hour-long periods comprising days).
- <b>Time deltas or durations</b> reference an exact length of time (e.g., a duration of 22.56 seconds).

#### Native Python dates and times: datetime and dateutil
Python's basic objects for working with dates and times reside in the built-in datetime module. Along with the third-party dateutil module, you can use it to quickly perform a host of useful functionalities on dates and times. 

For example, you can manually build a date using the datetime type:

In [ ]:
from datetime import datetime
datetime(year=2015, month=7, day=4)

Or, using the dateutil module, you can parse dates from a variety of string formats:

In [ ]:
from dateutil import parser
date = parser.parse("4th of July, 2015")
date

Once you have a datetime object, you can do things like printing the day of the week:

In [ ]:
date.strftime('%A')

The power of datetime and dateutil lie in their flexibility and easy syntax: you can use these objects and their built-in methods to easily perform nearly any operation you might be interested in.

#### Typed arrays of times: NumPy's datetime64
The weaknesses of Python's datetime format inspired the NumPy team to add a set of native
time series data type to NumPy. The datetime64 dtype encodes dates as 64-bit integers, and
thus allows arrays of dates to be represented very compactly. The datetime64 requires a very
specific input format:

In [ ]:
import numpy as np
date = np.array('2015-07-04', dtype=np.datetime64)
date

In [ ]:
date + np.arange(12)

In [ ]:
np.datetime64('2015-07-04')

In [ ]:
np.datetime64('2015-07-04 12:00')

In [ ]:
np.datetime64('2015-07-04 12:59:59.50', 'ns')

The following table, drawn from the NumPy datetime64 documentation lists the available format codes along with the relative and absolute timespans that they can encode:

<img src='pandas1.png' width='500'/>

#### Dates and times in pandas: 

Pandas builds upon all the tools just discussed to provide a Timestamp object, which combines the ease-of-use of datetime and dateutil with the efficient storage and vectorized interface of numpy.datetime64. From a group of these Timestamp objects, Pandas can construct a DatetimeIndex that can be used to index data in a Series or DataFrame ; we'll see many examples of this below.

For example, we can use Pandas tools to repeat the demonstration from above. We can parse a
flexibly formatted string date, and use format codes to output the day of the week:

In [ ]:
import pandas as pd
date = pd.to_datetime("4th of July, 2015")
date

In [ ]:
date.strftime('%A')

In [ ]:
date + pd.to_timedelta(np.arange(12), 'D')

#### Pandas Time Series: Indexing by Time
Where the Pandas time series tools really become useful is when you begin to index data by
timestamps. For example, we can construct a
Series
object that has time indexed data:

In [ ]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04',
'2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
data

In [ ]:
data['2014-07-04':'2015-07-04']

In [ ]:
data['2015']

#### Pandas Time Series Data Structures

- For time stamps, Pandas provides the Timestamp type. As mentioned before, it is essentially a replacement for Python's native datetime , but is based on the more efficient numpy.datetime64 data type. The associated Index structure is DatetimeIndex .
- For time Periods, Pandas provides the Period type. This encodes a fixed-frequency interval based on numpy.datetime64 . The associated index structure is PeriodIndex .
- For time deltas or durations, Pandas provides the Timedelta type. Timedelta is a more efficient replacement for Python's native datetime.timedelta type, and is based on numpy.timedelta64. The associated index structure is TimedeltaIndex .

The most fundamental of these date/time objects are the Timestamp and DatetimeIndex
objects. While these class objects can be invoked directly, it is more common to use the
pd.to_datetime() function, which can parse a wide variety of formats. Passing a single date to pd.to_datetime() yields a Timestamp ; passing a series of dates by default yields a
DatetimeIndex:

In [ ]:
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
'2015-Jul-6', '07-07-2015', '20150708'])
dates

Any DatetimeIndex can be converted to a PeriodIndex with the to_period() function with
the addition of a frequency code; here we'll use 'D' to indicate daily frequency:

In [ ]:
dates.to_period('D')

A TimedeltaIndex is created, for example, when a date is subtracted from another:

In [ ]:
dates - dates[0]

#### Regular sequences: pd.date_range()

To make the creation of regular date sequences more convenient, Pandas offers a few functions for this purpose: pd.date_range() for timestamps, pd.period_range() for periods, and pd.timedelta_range() for time deltas. We've seen that Python's range() and NumPy's np.arange() turn a startpoint, endpoint, and optional stepsize into a sequence. Similarly,
pd.date_range() accepts a start date, an end date, and an optional frequency code to create a regular sequence of dates. By default, the frequency is one day:

In [ ]:
pd.date_range('2015-07-03', '2015-07-10')

Alternatively, the date range can be specified not with a start and endpoint, but with a startpoint and a number of periods:

In [ ]:
pd.date_range('2015-07-03', periods=8)

The spacing can be modified by altering the freq argument, which defaults to D . For example, here we will construct a range of hourly timestamps:

In [ ]:
pd.date_range('2015-07-03', periods=8, freq='H')

To create regular sequences of Period or Timedelta values, the very similar
pd.period_range() and pd.timedelta_range() functions are useful. Here are some monthly
periods:

In [ ]:
pd.period_range('2015-07', periods=8, freq='M')

And a sequence of durations increasing by an hour:

In [ ]:
pd.timedelta_range(0, periods=10, freq='H')

#### Frequencies and Off sets
Fundamental to these Pandas time series tools is the concept of a frequency or date off set. Just as we saw the D (day) and H (hour) codes above, we can use such codes to specify any desired frequency spacing. The following table summarizes the main codes available:

<img src='pandas2.png' width='300' >

The monthly, quarterly, and annual frequencies are all marked at the end of the specified period.

By adding an S suffix to any of these, they instead will be marked at the beginning:
```python

        Code    Description     Code       Description
        ------------------------------------------------------
        MS      Month start      BMS      Business month start
        QS     Quarter start     BQS      Business quarter start
        AS      Year start       BAS      Business year start
```

Additionally, you can change the month used to mark any quarterly or annual code by adding a three-letter month code as a suffix:

- Q-JAN , BQ-FEB , QS-MAR , BQS-APR , etc.
- A-JAN , BA-FEB , AS-MAR , BAS-APR , etc.

In the same way, the split-point of the weekly frequency can be modified by adding a three-letter weekday code:

- W-SUN , W-MON , W-TUE , W-WED , etc.

In [ ]:
pd.timedelta_range(0, periods=9, freq="2H30T")

All of these short codes refer to specific instances of Pandas time series o sets, which can be found in the pd.tseries.offsets module. For example, we can create a business day o set directly as follows:

In [ ]:
from pandas.tseries.offsets import BDay
pd.date_range('2015-07-01', periods=5, freq=BDay())

## Dataframe
The underlying idea of a DataFrame is based on spreadsheets. We can see the data structure of a DataFrame as tabular and spreadsheet-like. It contains an ordered collection of columns. Each column consists of a unique data type, but different columns can have different types, e.g. the first column may consist of integers, while the second one consists of boolean values and so on.

A DataFrame has a row and column index; it's like a dict of Series with a common index. The structure of DataFrame will be as shown below.

<img src='pandasDataFrame.jpg' width='300'>

In [ ]:
import pandas as pd

In [ ]:

cities = {"city_name": ["London", "Berlin", "Madrid", "Rome", 
                   "Paris", "Vienna", "Bucharest", "Hamburg", 
                   "Budapest", "Warsaw", "Barcelona", 
                   "Munich", "Milan"],
          "population": [8615246, 3562166, 3165235, 2874038,
                         2273305, 1805681, 1803425, 1760433,
                         1754000, 1805681, 1602386, 1805681,
                         1350680],
          "country": ["England", "Germany", "Spain", "Italy",
                      "France", "Austria", "Romania", 
                      "Germany", "Hungary", "Poland", "Spain",
                      "Germany", "Italy"]}

city_frame = pd.DataFrame(cities)

city_frame

In [ ]:
### Custom Indexing
ordinals = ["first", "second", "third", "fourth",
            "fifth", "sixth", "seventh", "eigth",
            "ninth", "tenth", "eleventh", "twelvth",
            "thirteenth"]

city_frame = pd.DataFrame(cities, index=ordinals)
city_frame

In [ ]:
# Rearranging the columns
city_frame = pd.DataFrame(city_frame,
                          columns=[ "country",
                                    "city_name", 
                                    "population"])
city_frame

In [ ]:
city_frame = city_frame.rename(columns = {'city_name':'cityname'})

In [ ]:
city_frame

In [ ]:
city_frame.rename(index = {'eigth':'EIGTH'}, inplace=True)

In [ ]:
city_frame

In [ ]:
city_frame.groupby(city_frame.index).get_group('seventh')

In [ ]:
city_frame.rename(index = {'EIGTH':'eigth'}, inplace=True)

In [ ]:
city_frame

In [ ]:
# Accessing a column
city_frame['cityname']

In [ ]:
# Accessing a cell
city_frame['cityname']['eigth']

In [ ]:
# Alternate syntax
city_frame.cityname['eigth']

In [ ]:
city_frame

__Setting Values at() & iat()__

In [ ]:
city_frame.at['fourth', 'cityname'] = 'ROME_MODIFIED'

In [ ]:
city_frame

In [ ]:
city_frame.iat[2, 1] = 'MADRID'

In [ ]:
city_frame

### Slicing and views
##### loc(), iloc()

In [ ]:
city_frame

In [ ]:
city_frame.loc['third': 'tenth', 'country':'cityname']

In [ ]:
city_frame.loc['third': 'tenth', 'cityname':'country':-1]

In [ ]:
city_frame.loc['eigth']

In [ ]:
city_frame.loc['third': 'tenth' : 2, 'cityname':'country':-1]

Accessing Specific columns and rows

In [ ]:
city_frame.loc[['first', 'sixth', 'tenth'], ['country', 'population']]

In [ ]:
city_frame.loc['first':'fifth', ['country', 'population']]

In [ ]:
city_frame.loc['fifth':'first':-1, ['country', 'population']]

In [ ]:
city_frame.iloc[4::-1, [0, 2]]

In [ ]:
city_frame.iloc[2:9, :]

In [ ]:
city_frame

In [ ]:
city_frame.sum()

In [ ]:
city_frame['population'].sum()

In [ ]:
city_frame.all()

In [ ]:
# Cumulative sum
x = city_frame["population"].cumsum()
print(x)

#### Adding a new column

In [ ]:
import numpy as np
# Adding a new column
city_frame['area'] = np.nan

In [ ]:
city_frame

In [ ]:
area = [1572, 891.85, 605.77, 1285, 
        105.4, 414.6, 228, 755, 
        525.2, 517, 101.9, 310.4, 
        181.8]

city_frame["area"] = area

In [ ]:
city_frame

#### Adding a row

In [ ]:
df = pd.DataFrame([['India', 'Hyderabad', 15000000, 700]], 
                  columns = ['country', 'cityname', 'population', 'area'],
                  index = ['fourteenth'])

In [ ]:
df

In [ ]:
city_frame = city_frame.append(df)

In [ ]:
city_frame

In [ ]:
city_frame['extra'] = np.nan

In [ ]:
city_frame

#### Deleting a column

In [ ]:
city_frame.pop('extra')

In [ ]:
city_frame

In [ ]:
city_frame.drop('area', axis=1)

In [ ]:
city_frame

In [ ]:
city_frame.drop('fourteenth')

In [ ]:
city_frame

In [ ]:
city_frame.drop(['fourteenth', 'thirteenth'])

In [ ]:
city_frame

__Permenently removing a row:__

In [ ]:
city_frame.drop('fourteenth', inplace=True)

In [ ]:
city_frame

#### Sorting

In [ ]:
import pandas as pd
cities = {"cityname": ["London", "Berlin", "Madrid", "Rome", 
                   "Paris", "Vienna", "Bucharest", "Hamburg", 
                   "Budapest", "Warsaw", "Barcelona", 
                   "Munich", "Milan"],
          "population": [8615246, 3562166, 3165235, 2874038,
                         2273305, 1805681, 1803425, 1760433,
                         1754000, 1805681, 1602386, 1805681,
                         1350680],
          "country": ["England", "Germany", "Spain", "Italy",
                      "France", "Austria", "Romania", 
                      "Germany", "Hungary", "Poland", "Spain",
                      "Germany", "Italy"],
          "area"    : [1572, 891.85, 605.77, 1285, 105.4, 414.6, 
                       228, 755, 525.2, 517, 101.9, 310.4, 181.8]
         }

ordinals = ["first", "second", "third", "fourth",
            "fifth", "sixth", "seventh", "eigth",
            "ninth", "tenth", "eleventh", "twelvth",
            "thirteenth"]

city_frame = pd.DataFrame(cities, index=ordinals)

city_frame

__Sorting DataFrame on column 'population':__

In [ ]:

city_frame = city_frame.sort_values("population", ascending=False)
city_frame

__Sorting DataFrame on multiple columns:__

In [ ]:

city_frame = city_frame.sort_values(["population", 'area'], ascending=False)
city_frame

In [ ]:
# Sorting DataFrame on multiple columns but different sorting orders
city_frame = city_frame.sort_values(['population', 'area'], ascending=[False, True])
city_frame

In [ ]:
city_frame.head()

In [ ]:
city_frame.tail()

In [ ]:
# A nested dictionary of dicts can be passed to a DataFrame as well. 
# The indices of the outer dictionary are taken as the the columns
# and the inner keys. i.e. the keys of the nested dictionaries,
# are used as the row indices:

growth = {"Switzerland": {"2010": 3.0, "2011": 1.8, "2012": 1.1, "2013": 1.9},
          "Germany": {"2010": 4.1, "2011": 3.6, "2012":	0.4, "2013": 0.1},
          "France": {"2010":2.0,  "2011":2.1, "2012": 0.3, "2013": 0.3},
          "Greece": {"2010":-5.4, "2011":-8.9, "2012":-6.6, "2013":	-3.3},
          "Italy": {"2010":1.7, "2011":	0.6, "2012":-2.3, "2013":-1.9}
          } 
growth_frame = pd.DataFrame(growth)
growth_frame

In [ ]:
# Transposing
growth_frame.T

In [ ]:
growth_frame

#### Querying
All the rows which are having population greater than 2 million

In [ ]:
city_frame[city_frame['population'] > 2000000]

Filtering with multiple conditions using 
* and - &
* or - |

In [ ]:
city_frame[ (city_frame['population'] > 2000000) & (city_frame['area'] < 1000)]

In [ ]:
city_frame

#### Setting custom index from a column

In [ ]:
d = city_frame.set_index('cityname')
d

In [ ]:
d.loc['Warsaw']

In [ ]:
d.loc[['London', 'Hamburg']]

In [ ]:
city_frame

#### Multiple columns as index

In [ ]:
d1 = city_frame.set_index(['cityname', 'country'])
d1

In [ ]:
d1.loc[('Warsaw', 'Poland')]

In [ ]:
d1.loc[[('Warsaw', 'Poland'), ('Milan', 'Italy')]]

In [ ]:
d1

In [ ]:
d1.sort_index(ascending=[True, False])

### Concatenate, Merge, Join
#### Concatenate

   The concat function (in the main pandas namespace) does all of the heavy lifting of performing concatenation
   
   Operations along an axis while performing optional set logic (union or intersection) of the indexes (if any) on the other axes.
   
   Note that I say “if any” because there is only a single possible axis of concatenation for Series.
   
```python
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None,    verify_integrity=False, copy=True)
```

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']},
index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
'B': ['B4', 'B5', 'B6', 'B7'],
'C': ['C4', 'C5', 'C6', 'C7'],
'D': ['D4', 'D5', 'D6', 'D7']},
index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
'B': ['B8', 'B9', 'B10', 'B11'],
'C': ['C8', 'C9', 'C10', 'C11'],
'D': ['D8', 'D9', 'D10', 'D11']},
index=[8, 9, 10, 11])

df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
frames = [df1, df2, df3]
result = pd.concat(frames)
result

In [ ]:
result = pd.concat(frames, axis=1)
result

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']},
index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
'B': ['B4', 'B5', 'B6', 'B7'],
'C': ['C4', 'C5', 'C6', 'C7'],
'F': ['D4', 'D5', 'D6', 'D7']},
index=[2, 3, 4, 5])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df = pd.concat([df1, df2], sort=False) # default axis=0, join='outer'

In [ ]:
df

In [ ]:
df = pd.concat([df1, df2], axis=1)
df

In [ ]:
pd.concat([df1, df2],axis=0, join='outer', sort=False)

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1, df2],axis=0, join='inner')

In [ ]:
pd.concat([df1, df2],axis=1, join='inner')

In [ ]:
pd.concat([df1, df2],axis=0, join='inner', ignore_index=True)

#### MERGE

Pandas has full-featured, high performance in-memory join operations idiomatically very similar to relational databases like SQL. Users who are familiar with SQL but new to pandas might be interested in a comparison with SQL.

Pandas provides a single function, merge, as the entry point for all standard database join operations between DataFrame objects.

<b>Syntax</b>:

```python
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('_x', '_y'), copy=True, indicator=False)
```

In [ ]:
df1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
'key2': ['K0', 'K1', 'K0', 'K1'],
'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
'key2': ['K0', 'K0', 'K0', 'K0'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2, how='outer', on=['key1', 'key2'])

In [ ]:
pd.merge(df1, df2, how='outer', on=['key1', 'key2'])
df1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2', 'K1'],
'key2': ['K0', 'K1', 'K0', 'K1', 'K0'],
'A': ['A0', 'A1', 'A2', 'A3', 'A4'],
'B': ['B0', 'B1', 'B2', 'B3', 'B4']})

df2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2', 'K1'],
'key2': ['K0', 'K0', 'K0', 'K0', 'K0'],
'C': ['C0', 'C1', 'C2', 'C3', 'C4'],
'D': ['D0', 'D1', 'D2', 'D3', 'D4']})
df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2, how='outer', on=['key1', 'key2'])

In [ ]:
df1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
'key2': ['K0', 'K1', 'K0', 'K1'],
'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
'key2': ['K0', 'K0', 'K0', 'K0'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']})
df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2, how='inner', on=['key1', 'key2'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df = pd.merge(df1, df2, how='left', on=['key1', 'key2'])
df

In [ ]:
df = pd.merge(df1, df2, how='right', on=['key1', 'key2'])
df

In [ ]:
result = pd.merge(df1, df2, on='key1', suffixes=('_1', '_2'))
result

In [ ]:
result = pd.merge(df1, df2, on='key1', suffixes=('_df1', '_df2'))
result

#### JOIN
DataFrame.join is a convenient method for combining the columns 
of two potentially differently-indexed DataFrames into a single 
result DataFrame

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
'B': ['B0', 'B1', 'B2']},
index=['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
'D': ['D0', 'D2', 'D3']},
index=['K0', 'K2', 'K3'])

left

In [ ]:
right

In [ ]:
left.join(right, how='inner')

In [ ]:
left.join(right, how='outer')

In [ ]:
left.join(right, how='left')

In [ ]:
df = pd.DataFrame({'Alpha':   ['A', 'B', 'A', 'A', 'C', 'B', 'C', 'A', 'C', 'B'],
                    'Value1': [1,    5,   7,   3,   2,   5,   9,   1,   5,   3],
                    'Value2': [3,    4,   2,   1,   7,   7,   2,   6,   2,   4]})
df

In [ ]:
df.groupby('Alpha').max()

In [ ]:
df.groupby('Alpha').min()

In [ ]:
df.groupby('Alpha').count()

In [ ]:
df.groupby(['Alpha', 'Value1']).count()

#### Correlation and Covariance

Covariance and correlation can also be applied to a single dataframe. In this case, they return their corresponding matrices in the form of two new dataframe objects.

In [ ]:
frame = pd.DataFrame([[1,4,3,6],[4,5,6,1],[3,3,1,5],[4,1,6,4]],index=['red','blue','yellow','white'],columns=['ball','pen','pencil','paper'])

frame

In [ ]:
frame.corr()

In [ ]:
frame.cov()

Using the corrwith() method, you can calculate the pairwise correlations between the columns or rows of a dataframe with a series or another DataFrame().

In [ ]:
ser = pd.Series([0,1,2,3,9],index=['red','blue','yellow','white','green'])
ser

In [ ]:
frame.corrwith(ser)

In [ ]:
import numpy as np

frame2 = pd.DataFrame(np.arange(16).reshape((4,4)),index=['red','blue','yellow','white'],columns=['ball','pen','pencil','paper'])
frame2

In [ ]:
# Transposition of a DataFrame
frame2.T

In [ ]:
frame2

In [ ]:
np.sqrt(frame2)

#### Arithmetic and Data Alignment

In [ ]:
frame+frame2

Using the <b>apply() function</b>, you can apply the function just defined on the dataframe.

In [ ]:
f = lambda x: x.max() - x.min()

frame2.apply(f)

In [ ]:
frame

In [ ]:
frame.stack()

With dataframe, it is possible to define a hierarchical index both for the rows and for the columns. 

At the time the dataframe is declared, you have to define an array of arrays for the index and columns options.

In [ ]:
mframe = pd.DataFrame(np.random.randn(16).reshape(4,4),index=[['white','white','red','red'], ['up','down','up','down']],columns=[['pen','pen','paper','paper'],[1,2,1,2]])
mframe

In [ ]:
mframe.columns.names = ['objects','id']
mframe.index.names = ['colors','status']
mframe

#### Reordering and Sorting Levels                                              
Occasionally, you might need to rearrange the order of the levels on an axis or sort for values at a specific level.                                               The swaplevel() function accepts as arguments the names assigned to the two levels that you want to interchange and returns a new object with the two levels interchanged between them, while leaving the data unmodified.

In [ ]:
mframe.swaplevel('colors','status')

Instead, the sort_index() function orders the data considering only those of a certain level by specifying it as parameter.

As regards the DataFrame, the sorting can be performed independently on each of its two axes. So if you want to order by row following the indexes, just continue to use the function <b>sort_index( )</b> without arguments as you’ve seen before, or if you prefer to order by columns, you will need to use the axis options set to 1.

In [ ]:
mframe.sort_index(level='colors')

In [ ]:
mframe.sort_index(axis=1)

In [ ]:
mframe.sum(level='colors')

If you want to create a statistic for a given level of the column, for example, the id, you must specify the second axis as an argument through the axis option set to 1.

In [ ]:
mframe.sum(level='id', axis=1)

#### Importing Exporting CSV

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(10, 5),
                  columns=['a', 'b', 'c', 'd', 'e'])
df

In [ ]:
df.to_csv('random_data.csv', sep=',', index=False)

In [ ]:
df = pd.read_csv('random_data.csv')
df

In [ ]:
df = pd.read_csv('random_data.csv', skiprows=[2], nrows=3)
df

#### Importing Exporting EXCEL

In [ ]:
import pandas as pd
df.to_excel('random_data.xlsx', sheet_name='first_sheet')

In [ ]:
pd.read_excel('random_data.xlsx', 'first_sheet')

In [ ]:
pd.read_excel('random_data.xlsx', 'first_sheet', usecols=2)

In [ ]:
import pandas as pd
pd.read_excel('random_data.xlsx', 'first_sheet', usecols=[0, 2, 4])

In [ ]:
df = pd.read_excel('random_data.xlsx', 'first_sheet', converters={'b': str})
df

In [ ]:
import pandas as pd
cfun = lambda x: x if x > 0 else 0

pd.read_excel('random_data.xlsx', 'first_sheet', converters={'b': cfun})

#### Importing Exporting JSON

JSON (JavaScript Object Notation) has become one of the most common standard formats, especially for the transmission of data through the Web. So it is normal to have to do with this data format if you want to use the available data on the Web.

The special feature of this format is its great flexibility, though its structure is far from being the one to which you are well accustomed, i.e., tabular.

When we have a DataFrame and we need to convert it into a JSON file. So, define a DataFrame and then call the to_json() function on it, passing as argument the name of the file that you want to create.

In [ ]:
frame = pd.DataFrame(np.arange(16).reshape(4,4), index=["white","black","red","blue"],columns=["up","down","right","left"])
frame

In [ ]:
frame.to_json("frame.json")

In [ ]:
pd.read_json("frame.json")

The example you have seen is a fairly simple case in which the JSON data were in tabular form (since the file frame.json comes from a DataFrame). Generally, however, the JSON files do not have a tabular structure. Thus, you will need to somehow convert the structure dict file in tabular form. You can refer this process as normalization.

The library pandas provides a function, called json_normalize(), that is able to convert a dict or a list in a table. First you have to import the function

In [ ]:
from pandas.io.json import json_normalize
import json

In [ ]:
file = open('bookslist.json','r')
text = file.read()
text = json.loads(text)

In [ ]:
json_normalize(text,'books')

In [ ]:
json_normalize(text,'books',['writer','nationality'])

__Writing data to sql database(MySQL):__

In [ ]:
import numpy as np
import pandas as pd
import sqlalchemy

df = pd.DataFrame(np.random.randn(10, 5),
                  columns=['a', 'b', 'c', 'd', 'e'])
print (df)

engine = sqlalchemy.create_engine('mysql+mysqlconnector://naren:Python@7@localhost/test')
con = engine.connect()
df.to_sql('random_table_1', con)
con.close()

__Reading data from sql database(MySQL):__

_Reading SQL table:_

In [ ]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://naren:Python@7@localhost/test')
con = engine.connect()
df = pd.read_sql_table('random_table_1', con)
con.close()
df

_Running SQL query:_

In [ ]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://naren:Python@7@localhost/test')
con = engine.connect()
df = pd.read_sql_query('select a, c, e from random_table_1 limit 5', con)
con.close()
df

In [ ]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://naren:Python@7@localhost/test')
con = engine.connect()
df = pd.read_sql('select a, c, e from random_table_1 limit 5', con)
con.close()
df

__Writing data to mongo database:__

In [ ]:
from pymongo import MongoClient
client = MongoClient("localhost",27017)

In [ ]:
db = client.mydatabase

In [ ]:
db

In [ ]:
client['mydatabase']

In [ ]:
collection = db.mycollection

In [ ]:
db['mycollection']

Now it is the time to load the data in the collection. Create a DataFrame.

In [ ]:
frame = pd.DataFrame( np.arange(20).reshape(4,5),columns=['white','red','blue','black','green'])

In [ ]:
frame

Before being added to a collection, it must be converted into a JSON format. The conversion process is not as direct as you might imagine; this is because you need to set the data to be recorded on DB and at the same time in order to be re-extract as DataFrame as fairly and as simply as possible

In [ ]:
import json

In [ ]:
record = json.loads(frame.T.to_json()).values()
record

Now you are finally ready to insert a document in the collection, and you can do this with the insert() function.

In [ ]:
collection.mydocument.insert_many(record)

As you can see, you have an object for each line recorded. Now that the data has been loaded into the document within the MongoDB database, you can execute the reverse process, i.e., reading data within a document and then converting them to a DataFrame.

In [ ]:
cursor = collection['mydocument'].find()
dataframe = (list(cursor))

In [ ]:
dataframe = pd.DataFrame(dataframe)
del dataframe['_id']
dataframe

#### Handling missing data

In [ ]:
import pandas as pd
df = pd.read_csv('random_data.csv')
df.loc[3:7, 'c'] = np.nan
df

In [ ]:
df.fillna(method='ffill')

In [ ]:
df.fillna(method='bfill')

In [ ]:
df.fillna(method='ffill', limit=2)

In [ ]:
df.fillna(df.mean())