
### Python Programming
##### by Narendra Allam
Copyright 2019
# Chapter 4

## Data Structures

#### Topics covering in this chapter
- list
    - list Operations and functions
        - Finding length of list
        - Modifying value at index
        - Adding an element at the end 
        - Adding an element at a specific location
        - Deleting an element from the end
    - Iterating a list using while
    - enumerate()
    - List functions
    - Creating a Stack (LIFO) using list
    - Creating a Queue (FIFO) using list
    - Find the index of the given element
    - Reversing a list
    - Reversing list using slicing
    - Sorting a list
    - Unpacking
    - Slicing
    - List Comparisions
- tuple
    - Differences with list
        - Brackets
        - Mutability
    - Similarities with list
        - Declaration
        - Indexing
        - Scalar Multiplication
        - Iteration
        - Slicing and  -ve indexing
    - Tuple unpacking
- List vs Tuple
- list of tuples - frequently used construct
    - iterating
    - sorting
    - largest
    - smallest
    - enumerate
    - zip and unzip
- Set
  - Introduction to set
  - How set removes duplicates?
  - Set functions
    - Searching for an element
      - 'in' operator - The fastest
    - Adding an element
      - add()
    - Removing an element
      - remove()
      - discard()
      - pop()

    - Relation between two sets
      - intersection()
      - union()
      - difference()
      - isdisjoint()
      - issubset()
      - issuperset()
    - Merging two sets
      - update()
  - Why tuples are hashable but not lists?
  - Set Use-Cases
      - Removing duplicates from a list
      - Fastest lookups
      - Intersections, Unions, Difference and set relations

- Dictionary
  - Introduction of Dictionary - Associative data structure
  - Creating a Dictionary
  - Adding elements to Dictionary
  - Deleting key value pair
  - Updating / extending a Dictionary
  - Iterating through a Dictionary
  - Tuple unpacking method
  - Converting list of tuples into Dictionary
  - Converting Dictionary to List of tuples
  - Lambda introduction
  - Sorting List of tuples and dictionaries
  - Finding max(), min() in a dict
  - Whereever you go, dictionary follows you!
  - Dictionary Use-Cases
      - Counting Problem
      - Grouping Problem
      - Always Latest
      - Caching
      
- Counter() 
    - simplest counting algorithm
- DefaultDict 
    - Always has a value
- Dequeue 
    - Short time memory loss

- Heapq 
    - efficient in-memory min-heap()
    - heapify()
    - nlargest()
    - nsmallest()
    - heappush()
    - heappop()
  
- ForzenSet
    - Hashable set
    - Use-Cases
        - Set of sets
        - Set as Key in Dict
    
- Packing and Unpacking
  - Swapping two values
  - List packing and Unpacking
  - Tuple packing and Unpacking
  - String packing and Unpacking
  - Set packing and Unpacking
  
- Iterating containers using iter() and next()

### Introduction
Data structure is a particular way of organizing data in memory, so that it can be searched, retrieved, stored and processed efficiently. Any data structure is designed to organize data to suit a specific purpose. General data structure types include the list, the tree, the graph and so on. Python has its own set of efficiently implemented built-in data structures.


### List
List is a collection of elements(python objects). Purpose of list is, to group up the things, which falls under same category. 

  <b> e.g.,</b> <br> List of grocery items,<br> List of employee ids,<br>  List of book names etc.<br>

As group of similar elements stored in a list, mostly those are homogenous(of same data type).

Creating a list in python is putting different comma-separated values, between square brackets. <br>

Eventhough list principle suggests homogeneous data items in it, it is not mandatory and still allowed to have different types.

For example −<br>

``` python
l1 = [30, 32, 31, 35.5, 30, 36, 34]
l2 = [1234, 'John', 230000.05, True] # Supports multiple types
l3 = [] # empty list
l4 = [99] # list with single value
l5 = list()
l6 = list([4, 5, 6])
```

* List is mutable.

* **IQ: Python list is implemented using dynamically resizable array(vector in C++,Java etc.).
* List uses indexing to access values.
* search operation on an unsorted list is O(n) operation.
* **IQ: lists  are un-hashable
* type of list is 'list'

Each element in a list can be accessed using square brackets enclosing its positional value called indexing. <br>
In the below list fruits, 
```python
fruits = ["Apple", "Orange", "Banana", "Peach", "grape"] 
```
fruits[0] refers "Apple", <br>
fruits[1] refers "Orange",  <br>
fruits[2] refers "Banana",  <br>
and so on.. <br>

<img src='drawing4.png' width='600'>

In [1]:
fruits = ["Apple", "Orange", "Banana", "Peach", "grape"]
print (fruits[0])

Apple

In [2]:
print(fruits[1])

Orange

As starting index is 0, Last item index is 4, not 5, so we get IndexError.

#### list Operations and Functions

_Checking existance of an element_

In [3]:
l = [3, 4, 5, 8, 2, 1, 55, 4, 3, 12]
x = 12
print(x in l)

True

_Finding length of a list:_

In [4]:
l = [3, 4, 5, 8, 2, 1]
print(len(l))

6

_modifying value at index i:_

In [5]:
i = 3
l = [6, 4, 5, 8, 2, 1]
l[i] = 99
print(l)

[6, 4, 5, 99, 2, 1]

_Adding an element at the end:_

In [6]:
l = [6, 4, 5, 8, 2, 1]
l.append(99)
print(l)

[6, 4, 5, 8, 2, 1, 99]

_Adding an element at a specific location:_

insert(index, value): takes index and value

In [7]:
l = [6, 4, 5, 8, 2, 1]
l.insert(2, 99)
print(l)

[6, 4, 99, 5, 8, 2, 1]

_Deleting an element from the end:_

pop() removes the elements from the end by default, and returns

In [8]:
l = [6, 4, 5, 8, 2, 1]
rem = l.pop()
print ('Element removed is:', rem)
print(l)

Element removed is: 1
[6, 4, 5, 8, 2]

_Deleting an element from a specific location:_

pop() also takes an index, removes the element and returns. Throws error if index is invalid.

In [9]:
l = [6, 4, 5, 8, 2, 1]
rem = l.pop(3)
print('Element removed is:', rem)
print(l)

Element removed is: 8
[6, 4, 5, 2, 1]

_Find and delete an element with specified value:_

remove() doesn't return a value. It simply removes the first occurance of the value. Throws ValueError if element not found.

In [10]:
l = [6, 4, 5, 25, 2, 1, 25, 7]
l.remove(25)
print(l)

[6, 4, 5, 2, 1, 25, 7]

_Iterating a list using while:_

In [11]:
i = 0
l = [6, 4, 5, 8, 2]
while i < len(l):
    print (l[i])
    i += 1

6
4
5
8
2

_Iterating a list using for:_ Pythonic Way!

In [12]:
l = [6, 4, 5, 8, 2]

for x in l:
    print(x, end = ', ')

6, 4, 5, 8, 2,

__\*\*Note:__ While iterating through a list using for loop, we cannot remove an element.

__Program:__Find the biggest element in a list.

__Note:__ ___max()___ function is a builtin function which identifies the biggest element in a list an d returns.

In [13]:
l = [6, 4, 5, 8, 2, 13, 3, 7, 9]
print(max(l))

13

And similiarly we have ___min()___ function.

In [14]:
print(min(l))

2

Sum of elements

In [15]:
l = [3, 2, 4, 1, 5]
print(sum(l))

15

__Program:__ Numbers which are greater than the average.

In [16]:
l = [2, 4, 3, 9, 13, 12, 7, 6, 1, 5]
avg = sum(l)/len(l)

print('Avg:', avg)
print("Numbers greater than avg:", end = '')
for x in l:
    if x > avg:
        print(x, end = ', ')

Avg: 6.2
Numbers greater than avg:9, 13, 12, 7,

<b> Absolute Value: </b>

In [17]:
abs(-13)

13

In [18]:
abs(13)

13

__Program:__ Difference between sum of even indexed and odd indexed numbers

In [19]:
l = [2, 4, 3, 9, 13, 12, 7, 6, 1, 5]

print(abs(sum(l[::2]) - sum(l[1::2])))

10

__Program:__ Square each element in the list and print.

In [20]:
l = [6, 4, 5, 8, 2]
for x in l:
    print (x*x)

36
16
25
64
4

__Program:__ Square each element in the list and save it back to its location.

In [21]:
l = [6, 4, 5, 8, 2]
for x in l:
    x = x*x

print(l)

[6, 4, 5, 8, 2]

Original list cannot be changed as x is just a copy of each element in that iteration.

_Solution.1:_

In [22]:
i = 0
l = [6, 4, 5, 8, 2]
while i < len(l):
    l[i] = l[i]*l[i]
    i += 1
print(l)

[36, 16, 25, 64, 4]

__enumerate()__:
    enumerate function adds a sequence number starts from zero, to each item in the sequence, packs as a tuple and returns in each iteration. In each iteration enumerate() returns tuple([seq_num, cur_item]). This is very useful when we want to track the indices while iterating sequence.

In [23]:
fruits = ["Apple", "Orange", "Grape", "Banana", "Peach"]

for idx, fruit in enumerate(fruits):
    print(idx, fruit)

0 Apple
1 Orange
2 Grape
3 Banana
4 Peach

We can also have a custom start value for sequence as below,

In [24]:
fruits = ["Apple", "Orange", "Grape", "Banana", "Peach"]

for idx, fruit in enumerate(fruits, start=1):
    print(idx, fruit)

1 Apple
2 Orange
3 Grape
4 Banana
5 Peach

_Solution.2: Using for loop_

In [25]:
l = [6, 4, 5, 8, 2]
for i, x in enumerate(l):
    l[i] = x*x
    
print(l)

[36, 16, 25, 64, 4]

_Multiplying list with a scalar:_

In [26]:
l = [3, 4, 6]
print (l * 3)
print (l)

[3, 4, 6, 3, 4, 6, 3, 4, 6]
[3, 4, 6]

_Concatenating two lists:_

In [27]:
l1 = [3, 4, 6] 
l2 = [7, 8, 9]

print(l1 + l2)

[3, 4, 6, 7, 8, 9]

__Remove all occurances of an element:__

In [28]:
l = [3, 4, 5, 6, 1, 9, 10, 8, 5, 2, 3, 5, 2, 1, 5]
rem = 5
indices = []

for i, x in enumerate(l):
    if x == rem:
        indices.append(i)
        
indices.reverse()     
for i in indices:
    l.pop(i)
    
print(l)

[3, 4, 6, 1, 9, 10, 8, 2, 3, 2, 1]

__Creating a Stack (LIFO) using list:__

Stack is a data structure in which, insertion and deletion operations follow the pattern, Last-In-First-Out. A list, in which, insertion and deletion operations are restricted to one end (front or rear) is called as Stack. We can achieve this using l.append() and l.pop(). Generally insertion is called 'push' operation and deletion is called 'pop' operation.

In [29]:
stack = [2, 4, 3]
print(stack)
stack.append(5)
print(stack)
stack.append(6)
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)

[2, 4, 3]
[2, 4, 3, 5]
[2, 4, 3, 5, 6]
[2, 4, 3, 5]
[2, 4, 3]

<img src='drawing6.png' width='600'>

__Creating a Queue (FIFO) using list:__
Queue is a data structure in which, insertion and deletion operations follow the pattern, First-In-First-Out. A list, in which, insertion and deletion operations are restricted to seperate ends (generally delete front and insert rear) is called as Queue. We can achieve this using l.append() and l.pop(0). Generally insertion is called 'enque' operation and deletion is called 'deque' operation.

In [30]:
queue = [2, 4, 3]
print(queue)
queue.append(5)
print(queue)
queue.append(6)
print(queue)
queue.pop(0)
print(queue)
queue.pop(0)
print(queue)

[2, 4, 3]
[2, 4, 3, 5]
[2, 4, 3, 5, 6]
[4, 3, 5, 6]
[3, 5, 6]

<img src='drawing7.png' width='600'>

_Extending a list with other:_

In [31]:
l = [3, 4, 5]
s = [99, 55, 88]
l.extend(s)
print(l)

[3, 4, 5, 99, 55, 88]

Instead of extend, if we use append(), list s, becomes an individual element in the list l.

In [32]:
l = [3, 4, 5]
s = [99, 55, 88]
l.append(s)
print(l)

[3, 4, 5, [99, 55, 88]]

now type(l[3]) is a list instead an int

In [33]:
l[3]

[99, 55, 88]

In [34]:
type(l[3])

list

In [35]:
l[3][1]

55

__Lis of Lists__

In [36]:
ll = [[2, 4, 1], 
      [4, 1, 2],
      [1, 0, 7]]

In [37]:
ll[2][1]

0

__Find the index of the given element__

If element found, index() function returns the index of first occurance, else 'ValueError'

In [38]:
l = [6, 7, 9, 5, 2]
print(l.index(5))

3

__Counting a value__

In [39]:
l = [6, 7, 9, 5, 2, 5, 2, 1, 5]
print(l.count(5))

3

__Reversing a list:__

reverse() function changes the list in-place.

In [40]:
l = [3, 4, 5, 2, 1]
l.reverse()
print(l)

[1, 2, 5, 4, 3]

__Reversing list using slicing__

This doesn't change original list, afterall, it is just a view of the original.

In [41]:
l = [3, 4, 5, 2, 1]
print("Reverse:", l[::-1])
print("Original", l)

Reverse: [1, 2, 5, 4, 3]
Original [3, 4, 5, 2, 1]

__Sorting a list__

__**Note:__ Python uses 'Tim Sort' algorithm, which is one of the stable sorting algorithms. It is a combination of 'merge sort' and 'insertion sort'.

In [42]:
l = [6, 7, 9, 5, 1, 2, 5, 4, 3]
l.sort()
print(l)

[1, 2, 3, 4, 5, 5, 6, 7, 9]

_Sorting in decreasing order:_

In [43]:
l = [6, 7, 9, 5, 1, 2, 5, 4, 3]
l.sort(reverse=True) 
print(l)

[9, 7, 6, 5, 5, 4, 3, 2, 1]

We have an built-in sorting function __sorted()__ which has the same implementation as l.sort(), actually designed for immutable containers(e.g _str_)

In [44]:
l = [6, 7, 9, 5, 1, 2, 5, 4, 3]
print(sorted(l, reverse=True))
print(l)

[9, 7, 6, 5, 5, 4, 3, 2, 1]
[6, 7, 9, 5, 1, 2, 5, 4, 3]

<b>Sorting a string:</b>

In [45]:
sorted('New York')

[' ', 'N', 'Y', 'e', 'k', 'o', 'r', 'w']

<b>Converting a string to a list:</b>

In [46]:
list('Apple')

['A', 'p', 'p', 'l', 'e']

##### Unpacking:
Unpacking is the process of extracting values from a sequence and assigning them to corresponding variables on the other side.

In [47]:
l = [2, 3, 4]
x, y, z = l

print("x:{} y:{} z:{}".format(x, y, z))

x:2 y:3 z:4

##### Slicing:

In [48]:
l = [2, 4, 3, 1, 7, 9, 8, 0, 6, 5]
print(l[:5])

[2, 4, 3, 1, 7]

In [49]:
l = [2, 4, 3, 1, 7, 9, 8, 0, 6, 5]
print(l[7:])

[0, 6, 5]

In [50]:
print(l[-3:])

[0, 6, 5]

##### List Comparisions:
_'==' operator:_
== operator checks the equality of each element in both lists.

In [51]:
l1 = [1, 2, 4, 7, 8, 9]
l2 = [1, 2, 4, 7, 8, 9]
l3 = [7, 8, 9, 1, 2, 4]

In [52]:
l1 == l2

True

In [53]:
l2 == l3

False

In [54]:
mid = len(l1)//2
l1[:mid] == l3[mid:]

True

__Note:__ is operator doesn't work on lists, lists with same content have different ids(addresses).

In [55]:
l1 = [1, 2, 4, 7, 8, 9]
l2 = [1, 2, 4, 7, 8, 9]
l1 is l2

False

In [56]:
l3 = l2
l2 is l3

True

In [57]:
l4 = l1.copy()

In [58]:
l4 is l1

False

## Tuple

A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists. Tuples use parentheses, whereas lists use square brackets.

Creating a tuple is as simple as putting different comma-separated values enclosed in paranthesis. Sometimes paranthesis is optional.

For example −<br>

``` python
tup1 = (1234, 'John wesley', 240000.0, True)
tup2 = (1, 2, 3, 4, 5)
tup3 = 1, 3, 2, 4 # Paranthesis is optional
tup4 = () # empty tuple
tup5 = (3,) # tuple with one value, must always ends with a comma.
```

* Tuple is immutable.
* Tuple values can be of multiple types.
* Tuple internally uses array of constant references.
* tuple uses indexing to access value like list.
* Search operation is always O(n).
* \*\*Tuples are hashable. 
* type of tuple is 'tuple'

Apart from immutability,  tuples mostly behave like a list.

#### Differences with List

__Brackets:__

Tuples uses paranthesis in declaration

In [59]:
l = [3, 5, 4, 2, 1]
t = (3, 5, 4, 2, 1)

__Mutability:__

Elements cannot be modified after initilization.

In [60]:
l = [3, 5, 4, 2, 1]
l[3] = 99 # is OK
print(l)

[3, 5, 4, 99, 1]

In [61]:
t = (3, 5, 4, 2, 1)
t[3] = 99 # is NOT OK
print(t)

TypeError: 'tuple' object does not support item assignment

__When having single element:__ 
We put a comma at the end, when there is one element in the tuple, Why?

This is required, to differentiate with an expression.

```python
x = (9)
y = (9,)
```

x is an integer and y is a tuple

In [62]:
x = (9)
y = (9,)

print(x*3)
print(y*3)
print(type(x), type(y))

27
(9, 9, 9)
<class 'int'> <class 'tuple'>

#### Similarites with List

##### Declaration:

In [63]:
l = [3, 5, 4, 2, 1]
t = (3, 5, 4, 2, 1)
t1 = 3, 5, 4, 2, 1
print(type(l), type(t), type(t1))

<class 'list'> <class 'tuple'> <class 'tuple'>

##### Indexing:

In [64]:
l = [3, 5, 4, 2, 1]
t = (3, 5, 4, 2, 1)
print (l[3], t[3])

2 2

##### Scalar Multiplication:

In [65]:
print([1, 4, 2] * 3)
print((1, 4, 2) * 3)

[1, 4, 2, 1, 4, 2, 1, 4, 2]
(1, 4, 2, 1, 4, 2, 1, 4, 2)

##### Iteration:

In [66]:
l = [3, 5, 4, 2, 1]
print('list Iteration:')
for x in l:
    print(x)
    
t = (3, 5, 4, 2, 1)
print('tuple Iteration:')
for x in t:
    print(x)

list Iteration:
3
5
4
2
1
tuple Iteration:
3
5
4
2
1

##### Slicing and -ve Indexing:

In [67]:
t = (1234, 'John', 25000.0, True)
l = [8, 2, 5, 4, 9, 1, 3, 7, 10, 6]

print ("-------")
print ("Slicing")
print ("-------")

print (t[2:7:2])
print (l[2:7:2])

print ("------------")
print ("-Ve Indexing")
print ("------------")

print(t[::-1])
print(l[::-1])

-------
Slicing
-------
(25000.0,)
[5, 9, 3]
------------
-Ve Indexing
------------
(True, 25000.0, 'John', 1234)
[6, 10, 7, 3, 1, 9, 4, 5, 2, 8]

#### Tuple unpacking
##### Unpacking:

In [68]:
t = 3, 4, 5
x, y, z = t

print ("x:{}, y:{}, z:{}".format(x, y, z))

x:3, y:4, z:5

##### Initilizing values at a time:
This is possible because in python comma seperated values are treated as a tuple.

In [69]:
x, y, z = 7, 8, 9
print ("x:{}, y:{}, z:{}".format(x, y, z))

x:7, y:8, z:9

In [70]:
t = (1234, 'John', 'Physics', 23000, 'Male')

In [71]:
*other, gender = t

In [72]:
gender

'Male'

In [73]:
other

[1234, 'John', 'Physics', 23000]

In [74]:
eid, name, *other = t

In [75]:
eid

1234

In [76]:
name

'John'

In [77]:
other

['Physics', 23000, 'Male']

In [78]:
eid, *_, gender = t

In [79]:
gender

'Male'

In [80]:
_

['John', 'Physics', 23000]

##### Swapping two values in python:

In [81]:
x = 20
y = 30

x, y = y, x #  swapping in python

print ("x:{}, y:{}".format(x, y))

x:30, y:20

__Counting values__

In [82]:
t = (4, 3, 2 ,1 ,4, 3, 4)
t.count(4)

3

#### ** Iterating list of tuples:

In [83]:
l = [('Apple', 30), ('Grape', 20), ('Mango', 25), ('peach', 35)]

for x in l:
    print (x[0], '-->>', x[1])

Apple -->> 30
Grape -->> 20
Mango -->> 25
peach -->> 35

In [84]:
for fruit, count in l:
    print(fruit, '-->>',count)

Apple -->> 30
Grape -->> 20
Mango -->> 25
peach -->> 35

In [85]:
for x, y in l:
    print(x, '-->>',y)

Apple -->> 30
Grape -->> 20
Mango -->> 25
peach -->> 35

We can use tuple unpacking method to write clean code, as below

__Program:__ Print all the fruits with count less than 30

In [86]:
fruit_bucket = [('Apple', 30), ('Grape', 20), ('Mango', 25), ('peach', 35)]

for fruit, count in fruit_bucket:
    if count < 30:
        print (fruit, count)

Grape 20
Mango 25

In each iteration one tuple will be unpacked to 'fruit' and 'count' variables.

__Exercise:__
```python
employee_db = [(1234, 'John', 'Physics', 23000),
               (1235, 'Christen', 'Maths', 13000),
               (1236, 'Samanta', 'Maths', 40000), 
               (1237, 'Amanda', 'Chemistry', 25000), 
               (1238, 'Vicky', 'Maths', 10000), 
              ]
```
Print all the employees whose salaries are greater than the average salary.

In [87]:
employee_db = [
               (1234, 'John', 'Physics', 23000),
               (1235, 'Christen', 'Maths', 13000),
               (1236, 'Samanta', 'Maths', 40000), 
               (1237, 'Amanda', 'Chemistry', 25000), 
               (1238, 'Vicky', 'Maths', 10000), 
              ]

total_sal = 0

for *other, esal in employee_db:
        total_sal += esal
        
avg = total_sal/len(employee_db)
print('Avg salary:', avg)

for *other, esal in employee_db:
    if esal > avg:
        print(other + [esal])

Avg salary: 22200.0
[1234, 'John', 'Physics', 23000]
[1236, 'Samanta', 'Maths', 40000]
[1237, 'Amanda', 'Chemistry', 25000]

__Type is a list:__

In [88]:
*other, age =  [1237, 'Amanda', 'Chemistry', 25000, 45]
print(other, age, type(other))

[1237, 'Amanda', 'Chemistry', 25000] 45 <class 'list'>

In [89]:
eid, *other, age =  (1237, 'Amanda', 'Chemistry', 25000, 45)
print(other, eid, age, type(other))

['Amanda', 'Chemistry', 25000] 1237 45 <class 'list'>

__Ignoring unwanted values using '_'__

In [90]:
eid, *_, age =  (1237, 'Amanda', 'Chemistry', 25000, 45)
print(_, eid, age, type(_))

['Amanda', 'Chemistry', 25000] 1237 45 <class 'list'>

#### **Difference between List and Tuple

<table>
<tr><th> List </th><th> Tuple</th></tr>
<tr><td> mutable </td><td> immutable </td></tr>
<tr><td> dynamically resizable array</td><td> fixed in size</td></tr>
<tr><td> * emphasizes on quantity </td><td> * emphasizes on the structure </td></tr>
<tr><td> ** unhashable </td><td> ** hashable </td></tr>
<tr><td> use square brackets </td><td> use paranthesis (optional some times) </td></tr>
<tr><td> comma not required when having single element </td><td> comma is required when having single element </td></tr>
</table>

### Built-in functions on sequences

##### Finding length of the sequence
len():

In [91]:
l = [7, 8, 9, 3, 2]
t = (7, 8, 9, 3, 2)
s = "NEWYORK"

print(len(l), len(t), len(s))

5 5 7

##### sorting the sequence
_sorted():_

List has its own sort() function. sort() function sorts elements in-place. But tuple and str are immutable types, we cannot sort them in-place. We need an external function, and we have one. sorted() function takes a sequence and returns a sorted list of items.

In [92]:
l = [7, 8, 9, 3, 2]
t = (7, 8, 9, 3, 2)
s = "NEWYORK"

print(sorted(l))
print(sorted(t, reverse=True))
print(sorted(s))

[2, 3, 7, 8, 9]
[9, 8, 7, 3, 2]
['E', 'K', 'N', 'O', 'R', 'W', 'Y']

##### Finding maximum:
_max():_

In [93]:
l = [7, 8, 9, 3, 2]
t = (7, 8, 9, 3, 2)
s = "NEWYORK"

print (max(l))
print (max(t))
print (max(s))

9
9
Y

##### Finding minimum:
_min():_

In [94]:
l = [7, 8, 9, 3, 2]
t = (7, 8, 9, 3, 2)
s = "NEWYORK"

print (min(l))
print (min(t))
print (min(s))

2
2
E

#### Sum of the numbers
_sum():_

In [95]:
l = [7, 8, 9, 3, 2]
t = (7, 8, 9, 3, 2)
print (sum(l))
print (sum(t))

29
29

#### More built-in functions in python

abs() :- returns absolute value

In [96]:
print(abs(-13), abs(13))

13 13

chr() :- takes ASCII code and returns character

In [97]:
print(chr(65), chr(97))

A a

ord() :- takes character and returns ASCII code

In [98]:
print(ord('A'), ord('a'))

65 97

round(number, no_of_digits)- Rounds to specified number of digits

In [99]:
round(127.34567, 2)

127.35

In [100]:
round(1247.34567, -1)

1250.0

In [101]:
round(1287.34567, -2)

1300.0

### List of tuples - Frequently used construct

In non-object-oriented environments, list of tuples is generally used to represent a list of database records. Let's take an example of list of employee records. We have employee id, name, salary and age in each row in the same order. Below construct is widely used representation of list of employee records. To represent a row we are using tuple here.

In [102]:
employees = [
            (1237, 'John', 23000, 25),
            (1235, 'Samantha', 40000, 41),
            (1238, 'Amanda', 45000, 30),
            (1239, 'Alex', 57000, 31),
            (1236, 'Vicky', 40000, 24)
            ]

for _id, name, sal, age in employees:
    print(_id, name, sal, age)

1237 John 23000 25
1235 Samantha 40000 41
1238 Amanda 45000 30
1239 Alex 57000 31
1236 Vicky 40000 24

How do you sort above list of tuples, on their salaries?

In [103]:
employees = [
            (1239, 'John', 23000, 25),
            (1235, 'Samantha', 13000, 21),
            (1238, 'Amanda', 45000, 30),
            (1237, 'Alex', 57000, 31),
            (1236, 'Vicky', 40000, 24)
            ]

sorted_records = sorted(employees)
sorted_records

[(1235, 'Samantha', 13000, 21),
 (1236, 'Vicky', 40000, 24),
 (1237, 'Alex', 57000, 31),
 (1238, 'Amanda', 45000, 30),
 (1239, 'John', 23000, 25)]

__Comparing two tuples:__

In [104]:
t2 = (1234, 'Samantha', 13000, 21)
t1 = (1235, 'Vicky', 40000, 24)

t1 < t2

False

<b>**Note: </b> default comparision happens on id()s of tuples

By default sorted() method takes first value of each tuple as the comparsion criteria. To change this behaviour we have to pass the comparision criteria explicitly using a callable object (function ,lambda function etc.)

### lambda:
lambda function is an one line function. Which expands the expression given.

syntax:

```python
lambda parameters: expression
```

In [105]:
f = lambda x, y: x + y
print(f(4, 5))

9

In the above code, __f(4, 5)__ replaced by __4 + 5__, thus resulting __9__

sorted(), max() and min() functions have a second parameter which is __key__. _key_ is a lambda function, which is internally used by above three functions when two tuples are being compared(< or >). Comparing two tuples directly with less than or greater than operators is meaning less. So, key function recieves each tuple and returns first item in the tuple. A typical key lambda function looks like below.

In [106]:
key = lambda x: x[0]
l = [4, 3, 2]
s = 'Apple'
print(key(l))
print(key(s))

4
A

Let's apply this key on two tuples,

In [107]:
key = lambda x: x[0]

t1 = (1235, 'Samantha', 53000, 21)
t2 = (1236, 'Vicky', 40000, 24)

print (key(t1) < key(t2))

True

In the above code __key(t1) < key(t2)__ is replaced with t1[0] < t2[0]. What we should understand is first item of the tuple(index o) is being compared not the tuple itself. So, result is True.<br>

How do we change key lambda to consider salary as the comparision criteria?
simple, define key as below.
```python
key = lambda x: x[2]
```
x[2] means, taking 3rd item in the list as comparision criteria.

In [108]:
key = lambda x: x[2]

t1 = (1235, 'Samantha', 53000, 21)
t2 = (1236, 'Vicky', 40000, 24)

print(key(t1) < key(t2))

False

In the above code __key(t1) < key(t2)__ is replaced with t1[2] < t2[2], thus resulting True. Now it is time to apply a lambda to _sorted()_ function

_Sorting list of tuples on salary:_

In [109]:
employees = [
            (1239, 'John', 23000, 25),
            (1235, 'Samantha', 13000, 21),
            (1238, 'Amanda', 45000, 30),
            (1237, 'Alex', 57000, 31),
            (1236, 'Vicky', 40000, 24)
            ]

sorted_records = sorted(employees, key=lambda x:x[0])
for rec in sorted_records:
    print(rec)

(1235, 'Samantha', 13000, 21)
(1236, 'Vicky', 40000, 24)
(1237, 'Alex', 57000, 31)
(1238, 'Amanda', 45000, 30)
(1239, 'John', 23000, 25)

In [110]:
employees = [
            (1239, 'John', 23000, 25),
            (1235, 'Samantha', 13000, 21),
            (1238, 'Amanda', 45000, 30),
            (1237, 'Alex', 57000, 31),
            (1236, 'Vicky', 40000, 24)
            ]

sorted_records = sorted(employees, key=lambda x:x[2], reverse=True)
for rec in sorted_records:
    print(rec)

(1237, 'Alex', 57000, 31)
(1238, 'Amanda', 45000, 30)
(1236, 'Vicky', 40000, 24)
(1239, 'John', 23000, 25)
(1235, 'Samantha', 13000, 21)

__Employee with max salary:__

In [111]:
employees = [
            (1239, 'John', 23000, 25),
            (1235, 'Samantha', 13000, 21),
            (1238, 'Amanda', 45000, 30),
            (1237, 'Alex', 57000, 31),
            (1236, 'Vicky', 40000, 24)
            ]

print('Max sal:', max(employees, key=lambda x:x[2]))

Max sal: (1237, 'Alex', 57000, 31)

__Youngest Employee:__

In [112]:
employees = [
            (1239, 'John', 23000, 25),
            (1235, 'Samantha', 13000, 21),
            (1238, 'Amanda', 45000, 30),
            (1237, 'Alex', 57000, 31),
            (1236, 'Vicky', 40000, 24)
            ]

print ('Min age:', min(employees, key=lambda x:x[3]))

Min age: (1235, 'Samantha', 13000, 21)

__Exercise:__ Print friends and their emails who's last name 'barner'

In [113]:
contacts = [('John', 'john.deer@gmail.com'),
     ('Alex', 'alex.barner@yahoo.com'),
     ('Brad', 'brad.cooper@hotmail.com'),
     ('Cindy', 'cindy.barner@hotmail.com'),
     ('Matt', 'matt.damon@gmail.com'),
     ('George', 'george.cloony@yahoo.com'),
     ('Mec', 'mc.barner@hotmail.com')]

contacts2 = []
for name, email in contacts:
    if 'barner' in email:
        contacts2.append((name, email))
        
contacts2.sort()
contacts2

[('Alex', 'alex.barner@yahoo.com'),
 ('Cindy', 'cindy.barner@hotmail.com'),
 ('Mec', 'mc.barner@hotmail.com')]

__Problem:__ Remove duplicates from the given list.

In [114]:
l = [4, 3, 2, 3, 2, 1, 4, 2, 3, 4]

l1 = []

for x in l:
    if x not in l1:
        l1.append(x)
        
print(l1)

[4, 3, 2, 1]

## Set
A set contains an unordered collection of unique objects. The set data type is, as the name implies, a mathematical set. Set does not allow duplicates. Set does not maintain an order. This is because, the placement of each value in the set is decided by arbitary index produced by hash() function. So, We should not relay on the order of set elements, even though some times it looks like ordered.

Internally uses a hash table. Values are translated to indices of the hash table using hash() function .<br>
When a collison occures in the hash table, it ignores the element.<br>
This explains, why sets unlike lists and tuples can't have multiple occurrences of the same element. type() of set is 'set'.

#### Set Operations

##### Creating a set:

In [115]:
s = {2, 3, 1, 2, 1, 3}
print(s)

{1, 2, 3}

##### Creating an empty set:

In [116]:
s = set()
print(s)

set()

The below syntax is not an empty set, it is empty dictionary, which we will be discussing later.

In [117]:
s = {}
print(type(s))

<class 'dict'>

##### Converting a list to set:

In [118]:
l = [2, 6, 3, 2, 6, 3, 2, 4, 1, 3]
s = set(l)
print(s)

{1, 2, 3, 4, 6}

##### Set doesn't allow duplicates:

In [119]:
s = {2, 6, 3, 2 ,6, 3, 2, 4, 1, 3}
print(s)

{1, 2, 3, 4, 6}

In [120]:
s = {"Apple", "Orange", "Banana", "Orange", "Apple", "Banana"}
print(s)

{'Apple', 'Banana', 'Orange'}

In [121]:
s = {2.3, 4.5, 3.2, 2.3, 5.3}
print(s)

{2.3, 3.2, 4.5, 5.3}

##### Adding an element to a set():

In [122]:
s = {2, 5}
s.add(3)
print(s)

{2, 3, 5}

##### Removing an element from set():

In [123]:
s = {3, 4, 5}
x = 4
s.remove(x)
print(s)

{3, 5}

<b> Note: </b> If element not present, throws a 'KeyError'

__Using discard() function:__ 

Removes x from set s if present. If element not existing, doesn't throw any error, it just keeps quite.

In [124]:
s = {3, 4, 5}
x = 99
s.discard(x)
print(s)

{3, 4, 5}

__Using pop() function:__

pop() removes and return an arbitrary element from s; raises 'KeyError' if empty

In [125]:
s = {35, 14, 99}
print(s)
s.pop()
print(s)

{99, 35, 14}
{35, 14}

##### Updating a set:

In [126]:
s1 = {4, 5, 2, 1}
s2 = {7, 8, 5, 6}
s1.update(s2)
print(s1)

{1, 2, 4, 5, 6, 7, 8}

update() funcion adds all the elements in s2 to s1.

##### Iterating through a set:

In [127]:
s = {'Apple', 'Orange', 'Peach', 'Banana'}
for x in s:
    print(x)

Apple
Banana
Orange
Peach

##### Set unpacking:

In [128]:
s = {'Apple', 'Ball', 'Cat'}
print (s)
x, y, z = s
print(x, y, z)

{'Apple', 'Ball', 'Cat'}
Apple Ball Cat

#### Use-Cases
##### 1. Set removes duplicates

Set uses hash-table data structure internally. Hashing is the process of translating values into array indices.  Placement of each value in the set is decided by an arbitary index prodcuded by hash() function. hash() function always ensures producing same index for a given value. Still there is a chance that, two values may get same index. This is called hash() collision. Hash-table generally stores all the values with the same hash code, in the same bucket. Before storing in same bucket, to make sure not to have any duplicates in the bucket, it compares current element with each existing element in the bucket. If an element with same value is existintg in the bucket, it ignores current element. Thus removing duplicates. </p>

In [129]:
s = {35, 92, 51, 42, 35, 92}
print(s)

{51, 42, 35, 92}

In [130]:
hash(35)

35

In [131]:
hash('Apple')

-3428814023410664368

In [132]:
hash(True)

1

In [133]:
hash(234.567)

1307412986224181482

In [134]:
s

{35, 42, 51, 92}

__Adding an item:__

In [135]:
s.add(77)

__Removal of an item:__

In [136]:
s.remove(51)

Python has a built-in function __hash()__ which returns an unque identifier for each value we pass. This hash code is unique for every value in the lifetime of a program. As the implementation of the butil-in hash() function is complex to understand now. To make it simple, assume that, when we pass 'n' to __hash()__ function,i.e, calling __hash(n)__, returns n%10. 

For example, calling __hash(35)__, results 35%10, which is 5.

__Hashing__ is the process of translating values to unqiue numbers, generally called as hash code. These numbers are  utilized by other data structures like sets and dictionaries to allocate a slot(bucket) in an array. 

Let's see how set removes duplicates from a list of values.

<img src='drawing8.png' width='600'>

__Program:__ Remove duplicates from the given list

In [137]:
l = [35, 92, 51, 35, 42, 92]
l = list(set(l))
print(l)

[51, 42, 35, 92]

##### 2. Faster Look-ups, O(1):

We know that Set stores elements in a hash table.  Searching(look-up) operation is always constant and mostly just involves one operation. As we know that set is unordered, due to arbitary value of hash code. We cannot access the individual elements, as there is no fixed index, we can only check element existance.

In [138]:
s = {35, 92, 51, 35, 42, 92}
k = 92
print(k in s)

True

##### 3. Relations between sets

__Union of two sets:__ All the unqiue elements in both the sets.

In [139]:
s1 = {3, 4, 5, 6}
s2 = {5, 9, 6, 8}
all_values = s1.union(s2)
# all_values = s1 | s2
print(all_values)

{3, 4, 5, 6, 8, 9}

<b><u> Note:</b></u> Above union() function is equivalent of applying '|' operator.

__Intersection of two sets:__ Common elements in both the sets.

In [140]:
s1 = {3, 4, 5, 6}
s2 = {5, 9, 6, 8}
common = s1.intersection(s2)
# common = s1 & s2
print(common)

{5, 6}

<b> Note: </b> Above intersection() function is equivalent of applying '&' operator.

__Difference of two sets:__ Elements which are present in one set but not in the other.

In [141]:
s1 = {3, 4, 5, 6}
s2 = {5, 9, 6, 8}
diff = s1.difference(s2)
# diff = s1 - s2
print(diff)

{3, 4}

<b> Note: </b> Above intersection() function is equivalent of applying '&' operator.

<b>Program:</b><br>
Given customer ids who deposited money, for the last three days.<br>
1. Find the customer ids who deposited on 1st and 3rd days but not on the 2nd day.<br>
2. Find the customer id, who deposited all the days<br>
3. Customer ids, who did deposites atleast 2 of the 3 days
4. Total number of customers who did deposites

day1 = [1122, 1234, 1256, 1389, 1122, 1234, 1389, 1122, 1389, 1234]<br>
day2 = [1134, 1256, 1399, 1455, 1399, 1256, 1134, 1455, 1256, 1134]<br>
day3 = [1256, 1455, 1122, 1899, 1256, 1122, 1455, 1899, 1455, 1122]<br>

__Solution:__

In [142]:
day1 = [1122, 1234, 1256, 1389, 1122, 1234, 1389, 1122, 1389, 1234]
day2 = [1134, 1256, 1399, 1455, 1399, 1256, 1134, 1455, 1256, 1134]
day3 = [1256, 1455, 1122, 1899, 1256, 1122, 1455, 1899, 1455, 1122]

d1 = set(day1)
d2 = set(day2)
d3 = set(day3)
print('Customer who deposited on day 3 and day 1 but not on day 2:')
print((d1 & d3) - d2)

Customer who deposited on day 3 and day 1 but not on day 2:
{1122}

In [143]:
print('Customers who did deposites all the threee days:')
print(d1 & d2 & d3)

Customers who did deposites all the threee days:
{1256}

In [144]:
customers = (d1 & d2) | (d2 & d3) | (d3 & d1)
print('Customers who did deposotes atleast 2 days out of 3 days')
print(customers)

Customers who did deposotes atleast 2 days out of 3 days
{1256, 1122, 1455}

In [145]:
all_cust = d1 | d2 | d3
print('Number of customers who did deposites:', len(all_cust))

Number of customers who did deposites: 8

__Some more functions on sets__

In [146]:
s1 = {3, 4, 5, 6}
s2 = {5, 6, 4}
s3 = {8, 7, 9}

In [147]:
s1.isdisjoint(s3)

True

In [148]:
s2.issubset(s1)

True

In [149]:
s1.issuperset(s2)

True

#### Why tuple is hashable, but not list?

List is dynamically resizable array, and elements can be changed, deleted and added at any time. On sequences like list and tuple, hash() is computed on individual elements, then it is combined generally using xor operator to resolve the index. This hash code is unique for it's life time. Dynamic containers like list, varies in size and elements gets modifed. As elements are varying, evaluating a constant hash() is impossible. Tuples are immutable computing a constant hash() is possible.

In [150]:
s = {(1, 2), (3, 4), (1, 2), (4, 3), (2, 1)}
print(s)

{(1, 2), (2, 1), (3, 4), (4, 3)}

In [151]:
(4, 3) in s

True

In [152]:
hash((1, 2)), hash((2, 1))

(3713081631934410656, 3713082714465905806)

In [153]:
hash([1, 2])

TypeError: unhashable type: 'list'

In [154]:
l = [1, 2]
s = {[3, 4], l, [2, 1], [1,2], [4, 3]}
print (s)

TypeError: unhashable type: 'list'

In [ ]:
employees = [
            (1239, 'John', 23000, 25),
            (1235, 'Samantha', 13000, 21),
            (1238, 'Amanda', 45000, 30),
            (1237, 'Alex', 57000, 31),
            (1236, 'Vicky', 40000, 24),
            (1237, 'Alex', 57000, 31)
            ]
s = set(employees)
s

In [155]:
(1236, 'Vicky', 40000, 24) in s

False

__Is set hashable ?__

In [156]:
s = {set([3, 4]), set([5, 6])}

TypeError: unhashable type: 'set'

In [ ]:
fs1 = frozenset([2, 3])
fs2 = frozenset([4, 5])
fs3 = frozenset([2, 3])
s = {fs1, fs2, fs3}
s

__Note:__ The main reason to have tuple in python is, hashability. List is hashable when it is immutable. A constant list is tuple. Similarly, a set() is not hashable, we cannot store, a set in another set, as it is mutable. So our only option is to have a constant set. Actually we have one; a built-in data structure forzenset(), an immutable set. Hashability is very important property in programming.<br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"All mutable types are unhashable"<br>
We discuss more on this in the next sections.

__Program:__ Print all pairs whose sum is N

In [ ]:
l = [4, 3, 2, 6, 8, 9, 7, 11, 1]
n = 10
for i, x in enumerate(l):
    for j, y in enumerate(l):
        if i != j and x+y == n:
            print((x, y))

In [ ]:
l = [4, 3, 2, 6, 8, 9, 7, 11, 1]
s = set(l)
n = 10
for x in l:
    if n-x in s:
        print(n-x, x)
        s.remove(n-x)
        s.remove(x)

## Dictionary
In python list() is sequence of elements. Each element in list() can be accesed using its index(position). Let's take
a list,
```python
l = [34, 32.5, 33, 35, 32, 35.1, 33.6]
```
Suppose the above list is representing maximum temperatures of the last week, from Sunday to Saturday.<br> 
How do you access max temperature on Thursday.<br>

As Index 0 represents max temperature on Sunday and<br>
1 represents Monday, <br>
2 represents Tuesday,<br>
and so on,<br>

```python
print l[4]
```

Gives max temperature on Thursday. Associating temperatures and indices(numeric) in this way, gives unrealistic perspective on the problem. If there is a way to access each temperature in the list with meaningful indices, like, l['Sunday'], l['Monday'] etc; This makes associations more lively, problem-solving more realistic. This is where dictionary can really help us.

Dictionary is an associative container, which has a set of Key-Value pairs. 'Key' is the 'Index', through which we access associated value.

```python
d = {'Sunday':34, 'Monday':32.5, 'Tuesday':33, 'Wednesday':35, 'Thursday':32, 'Friday':35.1, 'Saturday':33.6}
```


<img src='drawing9.png' width='600'>

in the above dictionary, element which is on the left side of colon(':') is the <b>Key</b> also referred as <b>Index</b> and right side element is the <b>Value</b><br>

Dictionary internally uses hash-table data structure.<br>type() of dictionary is 'dict'.

__Note:__ Like set, dictionary also an unordered data strucure.

In [ ]:
d = {
     'Sunday':34,
     'Monday':32.5,
     'Tuesday':33,
     'Wednesday':35,
     'Thursday':32,
     'Friday':35.1,
     'Saturday':33.6
    }

d['Thursday']

In [ ]:
d

##### Creating an empty dictionary:

In [ ]:
d = {} # Empty dictionary
print(d)

In [ ]:
d = dict() # Empty dictionary
print(d)

##### Creating dict and initilizing with key-value pairs:

In [ ]:
d = {1:'One', 2: 'Two', 3:'Three'}
print(d)

d = {'Hyderabad': 500001, 'Chennai': 400001, 'Delhi': 100001}
print(d)

<b>Imp Note:</b> Key can be any hashable type, where as for value there is no data-type restriction.

##### Retreiving value from dictionary:
Syntax: d[Key]
To retrieve a value, __hash(Key)__ is called and an index is produced, where the the key-value should be found. If a bucket has multiple key-value pair, equality check happens on each key, and assocaited value is returned, else throws a 'KeyError'.

In [ ]:
d = {'Mango': 30, 'Banana': 15, 'Peach': 20}

print(d['Peach'])

##### Adding key-value pair to a dictionary:
```python
Syntax: d[Key] = Value 
```
To store a key-value pair, __hash(Key)__ is called and an index is produced. If same key not existing, key-value pair is stored there, else old value is replaced with new value.

In [ ]:
d = {'Mango': 30, 'Banana': 15, 'Peach': 20}
d['Orange'] = 40
print(d)

In the above dictionary d, if key is already existing, value is replaced.

In [ ]:
d = {'Orange': 40, 'Mango': 30, 'Banana': 15, 'Peach': 20}
d['Orange'] = 100
print(d)

##### Accessing a key, which doesn't exist:

In [ ]:
d = {'Orange': 40, 'Mango': 30, 'Banana': 15, 'Peach': 20}
print(d['Grape'])

Above program throws 'KeyError' when key deosn't exist. Sometimes, this behaviour is not accepted, instead program should continue by assuming a default value. 

##### Using get() function:
&nbsp;&nbsp;&nbsp;&nbsp;d.get(Key) : If key doesn't exist, get() returns None, instead of throwing KeyError.

In [ ]:
d = {'Orange': 40, 'Mango': 30, 'Banana': 15, 'Peach': 20}
print(d.get('Orange')) # equivalent to d['Orange']

In [ ]:
d = {'Orange': 40, 'Mango': 30, 'Banana': 15, 'Peach': 20}
print(d.get('Grape'))

We can also specify, default value to return, if key doesn't exist.

In [ ]:
d = {'Orange': 40, 'Mango': 30, 'Banana': 15, 'Peach': 20}
print(d.get('Orange', 10))

In [157]:
d = {'Orange': 40, 'Mango': 30, 'Banana': 15, 'Peach': 20}
print(d.get('Grape', 10))

10

In the above example, if key 'Grape' exists, get() returns associated value else default value, which is 10.

In [158]:
d

{'Orange': 40, 'Mango': 30, 'Banana': 15, 'Peach': 20}

__Setting default Value if no value exists__

In [159]:
print(d.setdefault('Grape', 10))

10

In [160]:
d

{'Orange': 40, 'Mango': 30, 'Banana': 15, 'Peach': 20, 'Grape': 10}

In [161]:
d.setdefault('Mango', 100)

30

__Checking Key existance in a dictionary__

##### Using 'in' operator

In [162]:
d = {'Apple': 20, 'Orange': 15, 'Peach': 10}
key = 'Peach'
print(key in d)

True

##### Do not use get() function to check key's existance
<b>Note:</b> This is an amateur coding practice, which leads to catastrophic system failures sometimes.

In [163]:
d = {'Apple': 20, 'Orange': 15, 'Peach': 0}

if d.get('Peach'):
    print ('Key exists')
else:
    print ("Key doesn't exist")

Key doesn't exist

In the above example, 'Peach' is existing but returns 0, which coerced(implicit type conversion) to False, and produce  output, "Key doesn't exist". We are supposed to check key's existance here. To do so, we should not depend on the value returned by get() function.

<b>Imp Note:</b> To check key's existance in a dictionary, We should either use 'in' operator or has_key() function but, using get() function is not suggested.

##### Removing a key-value pair

In [164]:
d = {'Orange': 40, 'Mango': 30, 'Banana': 15, 'Peach': 20}
key = 'Banana'

ret = d.pop(key)

print ('Returned value:', ret)
print ('dict after removing the key:', d)

Returned value: 15
dict after removing the key: {'Orange': 40, 'Mango': 30, 'Peach': 20}

pop() function removes the key and its associated value, ('Banana' and 15) and returns 15. This throws 'KeyError' when key deosn't exist.

##### Iterating through a dictionary

In [165]:
d = {'Orange': 40, 'Mango': 30, 'Banana': 15, 'Peach': 20}

for x in d:
    print (x)

Orange
Mango
Banana
Peach

By default dictionary provides an iterator to list of keys to for loop. That is the reason, we are seeing only keys in the above example. However we can access value, if we have a key.

In [166]:
d = {'Orange': 40, 'Mango': 30, 'Banana': 15, 'Peach': 20}
for x in d:
    print(x, d[x])

Orange 40
Mango 30
Banana 15
Peach 20

#### Some dict functions:

_d.keys():_ Returns list of all keys

In [167]:
d.keys()

dict_keys(['Orange', 'Mango', 'Banana', 'Peach'])

_d.values():_ Returns list of values

In [168]:
d.values()

dict_values([40, 30, 15, 20])

_d.items():_  Returns key value pairs as a list of tuples.

In [169]:
d.items()

dict_items([('Orange', 40), ('Mango', 30), ('Banana', 15), ('Peach', 20)])

We have seen how to iterate through a list of tuples in the previous sections.

In [170]:
for fruit, quantity in d.items():
    print(fruit, quantity)

Orange 40
Mango 30
Banana 15
Peach 20

##### Converting a list of tuples to a dict:

In [171]:
lt = [('Apple', 30), ('Orange', 20), ('Peach', 40)]
d = dict(lt)
print(d)

{'Apple': 30, 'Orange': 20, 'Peach': 40}

__Note:__ "There must be exactly two values in the tuple(the internal container)"

##### Converting list of lists to a dict:

In [172]:
ll = [['Apple', 30], ['Orage', 20], ('Peach', 40)]
d = dict(ll)
print(d)

{'Apple': 30, 'Orage': 20, 'Peach': 40}

##### Note:
Python understands developers intention. list of lists or list of tuple, when inner sequence has two elements, dict() converts it into a dictionary

#### Updating/extending a dictionary

In [173]:
d1 = {'Hyd': 1234, 'Mum': 1235}
d2 = {'Blr': 1236, 'Delhi': 1237, 'Hyd':1999}
d1.update(d2)
print(d1)

{'Hyd': 1999, 'Mum': 1235, 'Blr': 1236, 'Delhi': 1237}

Value can be of any type

##### type constraints in Keys and Values:
Keys must be hashable types.<br>
E.g:- int, str, float, bool, complex, tuple, frozenset, user defined objects etc,<br>
For values, there is no restriction on type.

__Note:__ set is not hashable.
Below is an example dict for Student (or student group) ids and courses registered.

In [174]:
d = {
    1234        : ['C++', 'Java'], 
    (1299, 1289): ('Python', 'SQL'), 
    '1288'        : {'C#', 'Python'},
    (1266, 1277): 'Pyhon'
    }

print(d[(1299, 1289)])

('Python', 'SQL')

#### Use-Cases:

__1. Indexing__

It is mandatory to have a primary key in any SQL database table. The reason is , we can easily search for entire record by using primary key. The secret here is again the hash table. Which is called index for the table. In a typical scenario of banking customer-care, a customer generally calls the Customer-Care and enquires about a particular transaction. He gives the transaction id. In banking system millions of transactions can happen in a day or a week. But retrieving one record among them by performing linear search is time taking process. Banking system takes advantage of the hash-table(dictionary in python) and builds index based on the transaction id for quickest response from the system. As part of database tuning, to improve performance, sometimes, apart from primary key, these indexes also built on other columns(composite keys, secondary keys). Below is an example index implementation of customer transaction table in SQL databases.

In [175]:
txn_table = {
     'TXN1234': ['TXN1234', 'CUSTID123564', 23000, 'WITHDRAWAL', '12/08/2015:11:32:21'],
     'TXN1235': ('TXN1235', 'CUSTID123897', 34000, 'CASHDEPOSIT', '08/02/2016:14:51:02'),
     'TXN1266': ('TXN1266', 'CUSTID122938', 16000, 'CHEQUECLR', '21/11/2015:09:13:53')
    }

Querying details for transaction 'TXN1266':

In [176]:
print('Txn details:', txn_table['TXN1266'])

Txn details: ('TXN1266', 'CUSTID122938', 16000, 'CHEQUECLR', '21/11/2015:09:13:53')

In [177]:
person_data = {
    ('John Corner', 1964, 'Newyork') : ('John Corner', 'St Mary St', 'Stuart Corner', 1964, '200000', 'Newyork'),
    ('Ian Flemming', 1967, 'Perth')  : ('Ian Flemming','Richmond St', 'Grant Flemming', 1967, '540000', 'Perth'),
    ('John Corner', 1964, 'Sydney')  : ('John Corner', 'Orchid str', 'Steffan Corner', 1964, '1200000', 'Sydney')
}

In [178]:
('John Corner', 1964, 'Sydney') in person_data

True

In [179]:
person_data[('John Corner', 1964, 'Sydney')]

('John Corner', 'Orchid str', 'Steffan Corner', 1964, '1200000', 'Sydney')

__2. Counting Problems__

<b>PROGRAM:</b> Find the occurance of each word in the given list.
```python
words = ["Apple", "Orange", "Apple", "Banana", "Peach",  
          "Banana", "Apple", "Peach", "Apple", "Banana"]
```

<B><I>Without dictionaries:</B></I>

In [180]:
words = ["Apple", "Orange", "Apple", "Banana", "Peach",  
          "Banana", "Apple", "Peach", "Apple", "Banana"]
for word in words:
    print(word, '->', words.count(word))

Apple -> 4
Orange -> 1
Apple -> 4
Banana -> 3
Peach -> 2
Banana -> 3
Apple -> 4
Peach -> 2
Apple -> 4
Banana -> 3

<B><I>With dictionaries:</B></I>

In [181]:
words = ["Apple", "Orange", "Apple", "Banana", "Peach",  
          "Banana", "Apple", "Peach", "Apple", "Banana"]

count = {}

for word in words:
    if word not in count:
        count[word] = 1
    else:
        count[word] += 1
        
print(count)

{'Apple': 4, 'Orange': 1, 'Banana': 3, 'Peach': 2}

In [182]:
count.items()

dict_items([('Apple', 4), ('Orange', 1), ('Banana', 3), ('Peach', 2)])

__Finding the word with maximum frequency:__

In [183]:
fruit, cnt = max(count.items(), key=lambda x:x[1])
print(fruit, '->', cnt)

Apple -> 4

<B><I>Sorting a dictionary:</B></I>

In [184]:
sorted(count.items())

[('Apple', 4), ('Banana', 3), ('Orange', 1), ('Peach', 2)]

In [185]:
sorted(count.items(), key=lambda x:x[1])

[('Orange', 1), ('Peach', 2), ('Banana', 3), ('Apple', 4)]

__Finding MAX and MIN__

In [186]:
max(count.items(), key=lambda x:x[1])

('Apple', 4)

In [187]:
min(count.items(), key=lambda x:x[1])

('Orange', 1)

<b>3. Grouping Problems:</b> 

__Program 1:__        
Below are the customer ids and deposites done by customers in a typical day of a bank.

Find the Customer Id - and list of deposites done by each customer.
```python
trans = [(1237, 87522),
 (1234, 1000),
 (1236, 6754),
 (1234, 200),
 (1236, 1700),
 (1234, 400),
 (1234, 600),
 (1236, 788),
 (1234, 500),
 (1237, 126653)]
 ```

In [188]:
trans = [(1237, 87522),
 (1234, 1000),
 (1236, 6754),
 (1234, 200),
 (1236, 1700),
 (1234, 400),
 (1234, 600),
 (1236, 788),
 (1234, 500),
 (1237, 126653),
 (1999, 1000)]

deposites = {}

for cust_id, amount in trans:
    if cust_id not in deposites:
        deposites[cust_id] = [amount]
    else:
        deposites[cust_id].append(amount)
deposites

{1237: [87522, 126653],
 1234: [1000, 200, 400, 600, 500],
 1236: [6754, 1700, 788],
 1999: [1000]}

In [189]:
deposites.items()

dict_items([(1237, [87522, 126653]), (1234, [1000, 200, 400, 600, 500]), (1236, [6754, 1700, 788]), (1999, [1000])])

In [190]:
max(deposites.items())

(1999, [1000])

In [191]:
max(deposites.items(), key=lambda x:len(x[1]))

(1234, [1000, 200, 400, 600, 500])

In [192]:
max(deposites.items(), key=lambda x:sum(x[1]))

(1237, [87522, 126653])

In [193]:
max(deposites.items(), key=lambda x:max(x[1]))

(1237, [87522, 126653])

In [194]:
len(deposites)

4

__Exercise Program:__ Prepare contact lists for given CDR

In [195]:
cdr = [('9816724398', '9810485623'),
 ('9838217965', '9895170862'),
 ('9816724398', '9858932761'),
 ('9838217965', '9816724398'),
 ('9858932761', '9810485623'),
 ('9858932761', '9895170862'),
 ('9810485623', '9838217965'),
 ('9810485623', '9858932761'),
 ('9838217965', '9858932761'),
 ('9858932761', '9816724398'),
 ('9816724398', '9838217965'),
 ('9895170862', '9810485623'),
 ('9810485623', '9816724398')]

In [196]:
callee_list = {}

for caller, callee in cdr:
    
    if caller not in callee_list:
        callee_list[caller] = [callee]
    else:
        callee_list[caller].append(callee)
        
callee_list

{'9816724398': ['9810485623', '9858932761', '9838217965'],
 '9838217965': ['9895170862', '9816724398', '9858932761'],
 '9858932761': ['9810485623', '9895170862', '9816724398'],
 '9810485623': ['9838217965', '9858932761', '9816724398'],
 '9895170862': ['9810485623']}

<b>4. Caching</b><br>

This is the 4th use-case for dict, which will be discussed along with recurssion topic in functions chapter.

<b>5. Keep the latest</b><br>

Dictionaries can also be used to maintain the latest data at any instance

__Program:__ Latest price value of all the stocks.

In [197]:
stock_price =  [
         (1245, 2.5),
         (1233, 4.5),
         (1245, 3.7),
         (1237, 2),
         (1233, 1.5),
         (1245, 3.7),
         (1239, 1.2),
         (1237, 3),
         (1245, 4.0),
         (1239, 1.0),
        ]

latest_data = {}

for stock_id, price in stock_price:
    latest_data[stock_id] = price

print(latest_data)

{1245: 4.0, 1233: 1.5, 1237: 3, 1239: 1.0}

### Collections

Word counting problem can be easily solved by simply using builtin data structure <b>Counter</b> from 'collections' module.

In [198]:
from collections import Counter
fruits = ["Apple", "Orange", "Banana", "Peach", "Apple",
          "Banana", "Apple", "Peach", "Apple", "Banana"]

ctr = Counter(fruits)
print(ctr)

Counter({'Apple': 4, 'Banana': 3, 'Peach': 2, 'Orange': 1})

In [199]:
n = 2
print('Most frequently occured words:', ctr.most_common(n))

Most frequently occured words: [('Apple', 4), ('Banana', 3)]

### Deque
Dequeue is a list like data struture which supports append operation, but only retains last 'maxlen' number of elements. This data structre belongs to _collections_ module.

__Use-Case:__ When we want to keep track of last n elements, use deque

In [200]:
from collections import deque
# Creating a deque
dq = deque(maxlen=5)

for x in range(11, 45):
    dq.append(x)

print (dq)  
dq.append(555)
dq.append(888)
print (dq)

deque([40, 41, 42, 43, 44], maxlen=5)
deque([42, 43, 44, 555, 888], maxlen=5)

In [201]:
dq.appendleft(999)
dq

deque([999, 42, 43, 44, 555])

In [202]:
dq.popleft()

999

### Defaultdict


```python
syntax:
    from collections import defaultdict
    d = defaultdict(<default type>)
```

defaultdict() returns a dict. When a key is encountered for the first time, it is not already in the dict; so an entry is automatically created using the key and value(0 value of the type). if int is the type provided to defaultdcit, it assigns '0' as the value for the key first time.

int - 0 <br>
float - 0.0 <br>
bool - False <br>
list - [] <br>
set - set() <br>

In [203]:
from collections import defaultdict
d = defaultdict(int)
print(d)

defaultdict(<class 'int'>, {})

In [204]:
'Apple' in d

False

In [205]:
d

defaultdict(int, {})

In [206]:
d['Apple']

0

In [207]:
d

defaultdict(int, {'Apple': 0})

In the above statement, key 'Apple'is not there, so adds 'Apple' as key and '0' as value.

In [208]:
d['Orange'] += 1 # d['Orange'] = d['Orange'] + 1 ==> d['Orange'] = 0 + 1

In [209]:
d

defaultdict(int, {'Apple': 0, 'Orange': 1})

In the above statment, default dict adds key 'Orange' and retruns 0 and the adds 1 and stores it back to dict 'd'

In [210]:
d = defaultdict(list)

d['Apple'].append(30)

In [211]:
d

defaultdict(list, {'Apple': [30]})

In [212]:
d['Apple'].append(40)
d

defaultdict(list, {'Apple': [30, 40]})

defaultdict adds an empty list and returns, to which we are appending a '0' in the above statement.

__Word Counting Program revisited:__

Find the count of each word in the given list.

In [213]:
from collections import defaultdict
d = defaultdict(int)

fruits = ["Apple", "Orange", "Banana", "Orange", "Apple", "Banana", "Apple",
         "Peach", "Apple", "Banana"]

for fruit in fruits:
    d[fruit] += 1
    
print (d)

defaultdict(<class 'int'>, {'Apple': 4, 'Orange': 2, 'Banana': 3, 'Peach': 1})

__Index Grouping Program revisited:__

Find the indices of each word in the given list

In [214]:
from collections import defaultdict

fruits = ["Apple", "Orange", "Banana", "Orange", "Apple", "Banana", "Apple",
         "Peach", "Apple", "Banana"]

fruit_count = defaultdict(list)

for idx, fruit in enumerate(fruits):
    fruit_count[fruit].append(idx)
        
fruit_count

defaultdict(list,
            {'Apple': [0, 4, 6, 8],
             'Orange': [1, 3],
             'Banana': [2, 5, 9],
             'Peach': [7]})

<b>Exercise Program:</b></br>
We are expecting some packets from 5 different ip addresses.
We are asked to collect them and remove duplicates and sort them in increasing order.

In [215]:
from collections import defaultdict

packets = [('196.131.56.71', 'Data1'),
          ('196.131.56.35', 'Data1'),
          ('196.131.56.78', 'Data1'),
          ('196.131.56.65', 'Data1'),
          ('196.131.56.71', 'Data2'),
          ('196.131.56.35', 'Data1'),
          ('196.131.56.65', 'Data1'),
          ('196.131.56.78', 'Data1'),
          ('196.131.56.44', 'Data1'),
          ('196.131.56.35', 'Data1'),
          ('196.131.56.65', 'Data2'),
          ('196.131.56.71', 'Data1')]
          
dict_set = defaultdict(set)

for ip, data in packets:
    dict_set[ip].add(data)

print(dict_set, end='') 
print("-------------------------")
for ip, pkts in dict_set.items():
    print (ip, '->', sorted(pkts))

defaultdict(<class 'set'>, {'196.131.56.71': {'Data1', 'Data2'}, '196.131.56.35': {'Data1'}, '196.131.56.78': {'Data1'}, '196.131.56.65': {'Data1', 'Data2'}, '196.131.56.44': {'Data1'}})-------------------------
196.131.56.71 -> ['Data1', 'Data2']
196.131.56.35 -> ['Data1']
196.131.56.78 -> ['Data1']
196.131.56.65 -> ['Data1', 'Data2']
196.131.56.44 -> ['Data1']

### Heapq
Python heapq is min-heap data structure implementation. Internals of this data structures is out of scope for this material. But we discuss operations and Use-cases of this data structure. It is physically stored as dynamic array, but logically a binary tree. Always maintains smallest element as root. root is stored at o'th index always. Each time we pop an element from heapq, it returns the smallest. Each time we push an element, heapq, rearranges elements and pushes the smallest to 0'th index (in just O(log n) time).

We need to import heapq module to use this functionality.
```python
import heapq
```

__Frequenctly used heapq operations:__

_heapq.heapify(x):_ This function transforms list x into a heap.

In [216]:
import heapq
l = [4, 20, 6, 9, 2, 15]
heapq.heapify(l)
print(l)

[2, 4, 6, 9, 20, 15]

_heapq.heappush(heap, item):_ adding an element to heap.

In [217]:
import heapq
l = [4, 20, 6, 9, 2, 15]
heapq.heapify(l)
heapq.heappush(l, 3)
print(l)
heapq.heappush(l, 1)
print(l)

[2, 4, 3, 9, 20, 15, 6]
[1, 2, 3, 4, 20, 15, 6, 9]

_heapq.heappop(heap, item):_ deleting smallest element from heap.

In [218]:
import heapq
l = [4, 20, 6, 9, 2, 15]
heapq.heapify(l)
heapq.heappush(l, 3)
print (l)
heapq.heappush(l, 1)
print (l)
print ('poped:', heapq.heappop(l))
print ('poped:', heapq.heappop(l))
print (l)

[2, 4, 3, 9, 20, 15, 6]
[1, 2, 3, 4, 20, 15, 6, 9]
poped: 1
poped: 2
[3, 4, 6, 9, 20, 15]

_heapq.heapreplace(heap, item):_ pops smallest element from heap and pushes new element

In [219]:
import heapq
l = [4, 20, 6, 9, 3, 15]
heapq.heapify(l)
print(l)
heapq.heapreplace(l, 2)
print(l)

[3, 4, 6, 9, 20, 15]
[2, 4, 6, 9, 20, 15]

_heapq.heappushpop(heap, item):_ pushes new item then pops smallest from the heap.

In [220]:
import heapq
l = [4, 20, 6, 9, 3, 15]
heapq.heapify(l)
print(l)
print (heapq.heappushpop(l, 2))
print (l)

[3, 4, 6, 9, 20, 15]
2
[3, 4, 6, 9, 20, 15]

_heap.nsmallest(n, iterable[, key]):_ returns a list with n smallest elements from the list (dataset) defined, and key if provided.

In [221]:
import heapq
l = [4, 20, 6, 9, 3, 15]
heapq.heapify(l)
print (heapq.nsmallest(4, l))

[3, 4, 6, 9]

_heap.nlargest(n, iterable[, key]):_ returns a list with n largest elements from the list (dataset) defined, and key if provided

In [222]:
import heapq
l = [4, 20, 6, 9, 3, 15]
heapq.heapify(l)
print (heapq.nlargest(4, l))

[20, 15, 9, 6]

__Use-Cases:__

1. When we have streaming data, and always want to maintain n-largest or n-smallest, heapq is is used.
2. This is also used as priority queue, which is very popular in operating system process scheduling.
3. Widely used in Operating System, Compiler and Interpreters for memory management.

## Interview Questions

1. tuple vs list?
2. Reversing a list, tuple and string?
3. list append vs extend ?
4. Internal data structure of a a list ?
5. Output (5,) * 3?
6. What is tuple packing and unpacking?
7. Similarities between str and tuple?
8. Sorting algorithm used in list.sort() method?
9. How do you check a string is pallindrome or not ?
10. Two strings are anagrams or not ?
11. How do you remove duplicates in a list?
12. Find the word with most number of occurances in a large list of 1 billion words?
13. What is the data structures which is used for caching?
14. Explain how defaultdict works?
15. When do you use heapq?
16. Is set is hashable?
17. When do you use a dict?
18. What is the pupose of OrderedDict?
19. Print all the pairs from the list which makes sum n
20. Print all the anagrams from a text file.
21. When do you use FrozenSet()?
22. When do you use tuple, instead of a list?
23. Check the given array is sorted in ascending order or not.

## Exercises

__Program 1:__ A list is supposed to contain first n natural numbers in it. But one number is missing in the list.
so , we have n-1 elements in the list. How do you find missing element ?

__Program 2:__ How do you check two lists are having same set of values and same number of values ?

__Program 3:__ A list of email ids(strings) given, and assume there is a third-party function _send_email(email_id, msg)_ is available. 'send_email()' takes destination email address and email message. Example: send_email('john@abc.com', 'Welcome to my birthday!') sends message 'Welcome to my birthday!' to 'john@abc.com'. 

1. Send an invitation message, to all the email ids in the list.
2. Do not send message to email ids having hotmail.com in it

__Program 4:__

* Below are the customer ids and deposites done by customers
    in a typical day of a bank.

> 1. Find how many customers, acutally deposited the money.<br>
> 2. Who deposited maximum number of times.<br>
> 3. Who deposited maximum sum of deposites.<br>
> 4. Who deposited max amount in a single transaction.<br>
> 5. Customer Id - and list of deposites done by each cutomer.<br>
> 6. Total balance at the end of the day

```python
trans = [(1237, 87522),
 (1234, 1000),
 (1236, 6754),
 (1234, 200),
 (1236, 1700),
 (1234, 400),
 (1234, 600),
 (1236, 788),
 (1234, 500),
 (1237, 126653)]
 ```

##### Solution

In [223]:
from collections import defaultdict
trans = [(1237, 87522),
 (1234, 1000),
 (1236, 6754),
 (1234, 200),
 (1236, 1700),
 (1234, 400),
 (1234, 600),
 (1236, 788),
 (1234, 500),
 (1237, 126653)]

ledger = defaultdict(list)
total_balance = 0

for cust_id, amount in trans:
    ledger[cust_id].append(amount) 
    total_balance += amount
    
print ('Number of customers', len(ledger))

custid, amounts = max(ledger.items(), key=lambda x:len(x[1]))
print ("Customer who did max number of txns is {}\
 and the txns count is {}".format(custid, len(amounts)))

custid, amounts = max(ledger.items(), key=lambda x:sum(x[1]))
print ("Customer who did max sum of the amount is {}\
 and the amount is {}".format(custid, sum(amounts)))


custid, amounts = max(ledger.items(), key=lambda x:max(x[1]))
print ("Customer who did max desposit in a single transaction {}\
 and the amount is {}".format(custid, max(amounts)))

print ('--- Customers and Deposites ---')
for cust_id, bals in ledger.items():
    print (cust_id, '->', bals)
print ('-------------------------------')

print ('Total Balance: ', total_balance)

Number of customers 3
Customer who did max number of txns is 1234 and the txns count is 5
Customer who did max sum of the amount is 1237 and the amount is 214175
Customer who did max desposit in a single transaction 1237 and the amount is 126653
--- Customers and Deposites ---
1237 -> [87522, 126653]
1234 -> [1000, 200, 400, 600, 500]
1236 -> [6754, 1700, 788]
-------------------------------
Total Balance:  226117

__Program 5:__

* List of votes, contestants and age are given.
> 1. Find the contestant who wins the elections.<br>
> 2. If there is a tie, older contenstant wins.

```python
votes = ['Kenny',   'Amanda', 'John',     'Vicky', 'Alex',
         'Amanda',  'John',   'Alex',     'Kenny', 'Vicky',
         'Charles', 'Alex',   'Kenny',    'Eric',  'Charles', 
         'Eric',    'Laura',  'Michelle', 'Eric',  'Vicky']

age = {'Kenny': 61, 
       'Amanda': 54, 
       'Alex': 79, 
       'John': 80, 
       'Vicky': 34, 
       'Eric': 50,
       'Laura': 55,
       'Michelle': 42,
       'Charles': 70}
```

In [224]:
from collections import Counter, defaultdict

votes = ['Kenny',   'Amanda', 'John',     'Vicky', 'Alex',
         'Amanda',  'John',   'Alex',     'Kenny', 'Vicky',
         'Charles', 'Alex',   'Kenny',    'Eric',  'Charles', 
         'Eric',    'Laura',  'Michelle', 'Eric',  'Vicky']

age = {'Kenny': 61, 
       'Amanda': 54, 
       'Alex': 79, 
       'John': 80, 
       'Vicky': 34, 
       'Eric': 50,
       'Laura': 55,
       'Michelle': 42,
       'Charles': 70}

# Finding vote count for each contestant
name_count = Counter(votes)
print(name_count)
print()
count_names = defaultdict(list)

# Grouping constestants with same count
for name, count in name_count.items():
    count_names[count].append(name)
    
print(count_names)
print()
# Finding winner(s)
count, candidates = max(count_names.items())
print(candidates)
print()
# Finding max by their age
winner = max(candidates, key=lambda x:age[x])

print ('Winner is:', winner, ' With Count:', count)

Counter({'Kenny': 3, 'Vicky': 3, 'Alex': 3, 'Eric': 3, 'Amanda': 2, 'John': 2, 'Charles': 2, 'Laura': 1, 'Michelle': 1})

defaultdict(<class 'list'>, {3: ['Kenny', 'Vicky', 'Alex', 'Eric'], 2: ['Amanda', 'John', 'Charles'], 1: ['Laura', 'Michelle']})

['Kenny', 'Vicky', 'Alex', 'Eric']

Winner is: Alex  With Count: 3

__Program 3:__ Check the given two strings are anagrams or not

In [225]:
s1 = 'aacbb'
s2 = 'aabcb'

if sorted(s1) == sorted(s2):
    print('Anagrams')
else:
    print('Not Anagrams')

Anagrams

In [226]:
from collections import Counter

s1 = 'aacbb'
s2 = 'aabcb'

if Counter(s1) == Counter(s2):
    print ('Anagrams')
else:
    print ('Not Anagrams')

Anagrams

__Program 4:__ Find all sets of anagrams when a a list of words given.

In [227]:
from collections import defaultdict

words = ['hell', 'cat', 'bell', 
     'tab','tac', 'apt', 'dell',
     'act', 'tap', 'bat']

d = defaultdict(list)

for word in words:
    sig = ''.join(sorted(word))
    d[sig].append(word)

for sig, anagrams in d.items():
    if len(anagrams) > 1:
        print (anagrams)

['cat', 'tac', 'act']
['tab', 'bat']
['apt', 'tap']

## Notes

1. list is dynamically resizable array, also called as vector in other programming languages.
2. tupele is immutable and hashable
3. Set doesn't allow duplicates
4. deque retains only last n elements
5. Using we can heapq efficiently retrieve nsmallest elements in streaming data
6. OrderedDict maintains insertion order
7. defaultdict has a default zero value for every key