In [22]:
s = '''Once upon a time in India tehre was a king called Tippu. India is a great Country.
Tippu is bravest among all the kings in India. Tippu sent his followers to find most beatiful
women in India.'''

In [11]:
l = []
for ch in s:
    if ch.isalpha() or ch == ' ':
        l.append(ch)
s1 = ''.join(l)

In [14]:
l1 = s1.split()

In [20]:
s = "adbccdba"
m = len(s)//2

In [21]:
sorted(s[:m]) == sorted(s[m:])

True

In [23]:
s.replace('Tippu', '')

'Once upon a time in India tehre was a king called . India is a great Country.\n is bravest among all the kings in India.  sent his followers to find most beatiful\nwomen in India.'

In [24]:
s

'Once upon a time in India tehre was a king called Tippu. India is a great Country.\nTippu is bravest among all the kings in India. Tippu sent his followers to find most beatiful\nwomen in India.'